In [2]:
import pandas as pd
from ast import literal_eval

U sljedece 4 celije sam izracunavao OWP(opponents win percentage) to je za mene bio najtezi dio zadatka i on mi traje najduze mislim da bi se moglo optimizirati da se ne koriste for petlje nego da se rade grupiranja no to moramo pokrenuti samo jednom i onda ga spremimo u fajl i nakon toga mozemo ga samo ucitavati iz fajla a ne svaki put ponovno racunati. Prvo sam nasao sve timove protiv kojeg je tim igrao i onda sam iz liste protivnika nasao koliki je postotak pobjeda za taj tim ne ukljucujuci utakmice protiv trenutnog tima.

In [ ]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2011)]
tourney_results = tourney_results[(tourney_results["season"] == 2011)]
training_set = regular_results.append(tourney_results)
statistics = pd.read_csv("teams.csv")
teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
teams.reset_index()
playedAgainst = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wonCnt = 0
    playedCnt = 0
    timovi = []
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            timovi.append(row2.lteam)
        if row1['team_id'] == row2['lteam']:
            timovi.append(row2.wteam)
    playedAgainst.append(timovi)
teams["playedAgainst"] = playedAgainst
teams.to_csv("against2011.csv", index=False)
oppWinPcg = []
training_set = training_set[['wteam', 'lteam']]
owp = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wpSum = 0
    lista = row1.playedAgainst
    for row2 in lista:
        wonCnt = 0
        playedCnt = 0
        for k, row3 in training_set.iterrows():
            if row2 == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
            if row2 == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
        if playedCnt > 0:
            wpSum = wpSum + (wonCnt / playedCnt)
    oppWinPcg.append(wpSum / len(lista))
teams["owp"] = oppWinPcg
teams.to_csv("against2011.csv", index=False)

In [ ]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2012)]
tourney_results = tourney_results[(tourney_results["season"] == 2012)]
training_set = regular_results.append(tourney_results)
statistics = pd.read_csv("teams.csv")
teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
teams.reset_index()
playedAgainst = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wonCnt = 0
    playedCnt = 0
    timovi = []
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            timovi.append(row2.lteam)
        if row1['team_id'] == row2['lteam']:
            timovi.append(row2.wteam)
    playedAgainst.append(timovi)
teams["playedAgainst"] = playedAgainst
teams.to_csv("against2012.csv", index=False)
oppWinPcg = []
training_set = training_set[['wteam', 'lteam']]
owp = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wpSum = 0
    lista = row1.playedAgainst
    for row2 in lista:
        wonCnt = 0
        playedCnt = 0
        for k, row3 in training_set.iterrows():
            if row2 == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
            if row2 == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
        if playedCnt > 0:
            wpSum = wpSum + (wonCnt / playedCnt)
    oppWinPcg.append(wpSum / len(lista))
teams["owp"] = oppWinPcg
teams.to_csv("against2012.csv", index=False)

In [ ]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2013)]
tourney_results = tourney_results[(tourney_results["season"] == 2013)]
training_set = regular_results.append(tourney_results)
statistics = pd.read_csv("teams.csv")
teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
playedAgainst = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wonCnt = 0
    playedCnt = 0
    timovi = []
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            timovi.append(row2.lteam)
        if row1['team_id'] == row2['lteam']:
            timovi.append(row2.wteam)
    playedAgainst.append(timovi)
teams["playedAgainst"] = playedAgainst
teams.to_csv("against2013.csv", index=False)
oppWinPcg = []
training_set = training_set[['wteam', 'lteam']]
owp = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wpSum = 0
    lista = row1.playedAgainst
    for row2 in lista:
        wonCnt = 0
        playedCnt = 0
        for k, row3 in training_set.iterrows():
            if row2 == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
            if row2 == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
        if playedCnt > 0:
            wpSum = wpSum + (wonCnt / playedCnt)
    oppWinPcg.append(wpSum / len(lista))
teams["owp"] = oppWinPcg
teams.to_csv("against2013.csv", index=False)

In [ ]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2014)]
training_set = regular_results
statistics = pd.read_csv("teams.csv")
teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
playedAgainst = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wonCnt = 0
    playedCnt = 0
    timovi = []
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            timovi.append(row2.lteam)
        if row1['team_id'] == row2['lteam']:
            timovi.append(row2.wteam)
    playedAgainst.append(timovi)
teams["playedAgainst"] = playedAgainst
teams.to_csv("against2014.csv", index=False)
oppWinPcg = []
training_set = training_set[['wteam', 'lteam']]
owp = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wpSum = 0
    lista = row1.playedAgainst
    for row2 in lista:
        wonCnt = 0
        playedCnt = 0
        for k, row3 in training_set.iterrows():
            if row2 == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
            if row2 == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
        if playedCnt > 0:
            wpSum = wpSum + (wonCnt / playedCnt)
    oppWinPcg.append(wpSum / len(lista))
teams["owp"] = oppWinPcg
teams.to_csv("against2014.csv", index=False)

U sljedece 4 celije sam racunao oowp koji se racuna tako sto se zbroje owp od protivnika i nadje se srednja vrijednost.

In [8]:
teams = pd.read_csv("total2011.csv")
owps = pd.read_csv("against2011.csv")
oowp = []
for i, row1 in teams.iterrows():
    owpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        team = owps.loc[owps['team_id'] == row2]
        owpSum = owpSum + team.iloc[0].owp
    oowp.append(owpSum / len(lista))
teams["oowp"] = oowp
teams.to_csv("total2011.csv", index=False)
teams

,index,team_id,team_name,playedAgainst,owpSum,owp,won,played,wp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal,oowp
0,1,1102,Air Force,"[1398, 1459, 1169, 1191, 1460, 1300, 1115, 131...",0.562273,0.551782,14,28,0.500000,628,1340,0.468657,1799,6.0,2.5,0.526151
1,2,1103,Akron,"[1173, 1464, 1156, 1178, 1227, 1396, 1278, 112...",0.503356,0.497198,22,35,0.628571,859,2009,0.427576,2435,6.5,3.5,0.492487
2,3,1104,Alabama,"[1197, 1407, 1371, 1234, 1389, 1105, 1375, 134...",0.522822,0.512782,21,32,0.656250,796,1789,0.444941,2133,9.0,5.0,0.530720
3,4,1105,Alabama A&M,"[1443, 1104, 1398, 1455, 1412, 1301, 1212, 123...",0.400556,0.393084,10,25,0.400000,554,1395,0.397133,1570,8.5,5.5,0.432363
4,5,1106,Alabama St,"[1166, 1235, 1319, 1244, 1260, 1416, 1408, 111...",0.420996,0.413547,15,33,0.454545,691,1744,0.396216,2031,7.5,4.5,0.433400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,359,1460,Wright St,"[1231, 1380, 1324, 1350, 1356, 1153, 1178, 110...",0.524377,0.513710,17,31,0.548387,668,1559,0.428480,1988,6.0,1.0,0.516729
341,360,1461,Wyoming,"[1294, 1316, 1442, 1281, 1344, 1377, 1232, 141...",0.521940,0.511216,8,29,0.275862,654,1542,0.424125,1872,7.5,4.0,0.529822
342,361,1462,Xavier,"[1444, 1236, 1234, 1371, 1330, 1459, 1275, 113...",0.565697,0.556442,24,32,0.750000,784,1700,0.461176,2306,5.5,3.0,0.534757
343,362,1463,Yale,"[1346, 1344, 1130, 1228, 1119, 1216, 1436, 110...",0.492021,0.488939,14,27,0.518519,625,1425,0.438596,1823,4.5,4.5,0.486854
344,363,1464,Youngstown St,"[1359, 1138, 1103, 1405, 1384, 1454, 1453, 135...",0.507729,0.502103,7,28,0.250000,692,1673,0.413628,1908,6.0,5.0,0.509835

In [9]:
teams = pd.read_csv("total2012.csv")
owps = pd.read_csv("against2012.csv")
oowp = []
for i, row1 in teams.iterrows():
    owpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        team = owps.loc[owps['team_id'] == row2]
        owpSum = owpSum + team.iloc[0].owp
    oowp.append(owpSum / len(lista))
teams["oowp"] = oowp
teams.to_csv("total2012.csv", index=False)
teams

,team_id,team_name,playedAgainst,owp,won,played,wp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal,oowp
0,1102,Air Force,"[1119, 1440, 1160, 1179, 1460, 1115, 1271, 121...",0.552012,11,27,0.407407,564,1269,0.444444,1638,6.5,3.0,0.513948
1,1103,Akron,"[1280, 1434, 1182, 1178, 1452, 1292, 1156, 111...",0.556858,21,32,0.656250,803,1741,0.461229,2287,7.5,4.5,0.495346
2,1104,Alabama,"[1316, 1324, 1268, 1455, 1345, 1105, 1433, 120...",0.581899,21,33,0.636364,778,1722,0.451800,2135,7.0,4.0,0.550995
3,1105,Alabama A&M,"[1408, 1104, 1375, 1276, 1210, 1398, 1412, 123...",0.385437,5,26,0.192308,564,1401,0.402570,1589,6.0,4.0,0.439301
4,1106,Alabama St,"[1267, 1153, 1322, 1240, 1191, 1198, 1372, 138...",0.396064,10,29,0.344828,594,1593,0.372881,1674,7.5,3.0,0.441045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,1460,Wright St,"[1326, 1238, 1196, 1316, 1150, 1156, 1464, 110...",0.493380,12,31,0.387097,600,1512,0.396825,1777,6.5,1.5,0.504844
341,1461,Wyoming,"[1294, 1453, 1377, 1340, 1271, 1256, 1430, 113...",0.529698,18,29,0.620690,623,1397,0.445956,1809,6.5,3.5,0.518022
342,1462,Xavier,"[1288, 1236, 1275, 1208, 1435, 1345, 1139, 115...",0.588522,23,36,0.638889,899,1985,0.452897,2543,6.0,4.0,0.535955
343,1463,Yale,"[1148, 1346, 1371, 1119, 1216, 1436, 1357, 113...",0.466069,17,26,0.653846,582,1370,0.424818,1733,5.0,3.5,0.493051
344,1464,Youngstown St,"[1359, 1415, 1336, 1384, 1178, 1460, 1138, 140...",0.483435,14,29,0.482759,690,1604,0.430175,1946,6.5,5.5,0.497120

In [10]:
teams = pd.read_csv("total2013.csv")
owps = pd.read_csv("against2013.csv")
oowp = []
for i, row1 in teams.iterrows():
    owpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        team = owps.loc[owps['team_id'] == row2]
        owpSum = owpSum + team.iloc[0].owp
    oowp.append(owpSum / len(lista))
teams["oowp"] = oowp
teams.to_csv("total2013.csv", index=False)
teams

,team_id,team_name,playedAgainst,owp,won,played,wp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal,oowp
0,1102,Air Force,"[1119, 1154, 1286, 1160, 1238, 1455, 1115, 141...",0.555456,15,28,0.535714,683,1450,0.471034,1930,6.0,1.5,0.535908
1,1103,Akron,"[1157, 1329, 1421, 1336, 1292, 1166, 1178, 111...",0.528784,25,32,0.781250,814,1808,0.450221,2272,7.0,5.5,0.492753
2,1104,Alabama,"[1355, 1333, 1437, 1149, 1249, 1153, 1173, 143...",0.548965,20,32,0.625000,714,1666,0.428571,2003,8.0,4.5,0.534171
3,1105,Alabama A&M,"[1235, 1240, 1191, 1398, 1273, 1435, 1283, 111...",0.390389,9,29,0.310345,636,1613,0.394296,1786,5.5,3.5,0.443865
4,1106,Alabama St,"[1292, 1196, 1416, 1366, 1407, 1152, 1178, 140...",0.408966,9,31,0.290323,705,1744,0.404243,1906,6.0,3.0,0.439865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,1461,Wyoming,"[1300, 1377, 1380, 1294, 1167, 1364, 1160, 122...",0.553638,17,30,0.566667,611,1437,0.425191,1804,6.5,3.0,0.539226
343,1462,Xavier,"[1192, 1139, 1352, 1334, 1180, 1179, 1345, 143...",0.556061,17,31,0.548387,722,1582,0.456384,2021,5.5,3.0,0.540849
344,1463,Yale,"[1357, 1386, 1191, 1138, 1442, 1436, 1119, 121...",0.490071,12,29,0.413793,617,1500,0.411333,1863,6.0,3.0,0.483429
345,1464,Youngstown St,"[1203, 1208, 1384, 1295, 1241, 1182, 1245, 113...",0.480199,14,29,0.482759,693,1634,0.424113,1988,6.5,5.5,0.493816
346,1212,Grambling,"[1156, 1123, 1275, 1222, 1403, 1333, 1120, 137...",0.384451,0,28,0.000000,519,1436,0.361421,1391,4.5,2.5,0.434780

In [11]:
teams = pd.read_csv("total2014.csv")
owps = pd.read_csv("against2014.csv")
oowp = []
for i, row1 in teams.iterrows():
    owpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        team = owps.loc[owps['team_id'] == row2]
        owpSum = owpSum + team.iloc[0].owp
    oowp.append(owpSum / len(lista))
teams["oowp"] = oowp
teams.to_csv("total2014.csv", index=False)
teams

,team_id,team_name,playedAgainst,owp,won,played,wp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal,oowp
0,1101,Abilene Chr,"[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.460338,2,21,0.095238,427,1053,0.405508,1326,6.0,1.5,0.474180
1,1102,Air Force,"[1119, 1440, 1238, 1115, 1350, 1160, 1377, 141...",0.492970,10,28,0.357143,618,1451,0.425913,1808,5.5,3.0,0.515688
2,1103,Akron,"[1157, 1388, 1292, 1156, 1126, 1331, 1178, 133...",0.507936,21,33,0.636364,777,1799,0.431907,2241,6.5,4.0,0.513193
3,1104,Alabama,"[1328, 1403, 1209, 1181, 1180, 1316, 1378, 114...",0.612793,12,31,0.387097,704,1606,0.438356,2068,6.5,4.0,0.544920
4,1105,Alabama A&M,"[1307, 1444, 1184, 1240, 1398, 1325, 1283, 141...",0.418626,12,28,0.428571,603,1487,0.405514,1787,6.0,4.0,0.446720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1460,Wright St,"[1207, 1177, 1223, 1375, 1108, 1441, 1287, 129...",0.448458,18,32,0.562500,710,1580,0.449367,2127,6.5,3.0,0.493479
347,1461,Wyoming,"[1404, 1160, 1117, 1238, 1377, 1326, 1286, 137...",0.511376,16,30,0.533333,654,1386,0.471861,1939,4.5,4.0,0.517649
348,1462,Xavier,"[1205, 1397, 1287, 1275, 1101, 1234, 1397, 142...",0.564464,21,33,0.636364,846,1795,0.471309,2383,6.0,3.0,0.555836
349,1463,Yale,"[1148, 1163, 1353, 1357, 1273, 1248, 1216, 113...",0.500480,14,27,0.518519,564,1372,0.411079,1777,6.0,4.5,0.479360
350,1464,Youngstown St,"[1244, 1198, 1184, 1269, 1245, 1122, 1352, 128...",0.471631,12,29,0.413793,736,1621,0.454041,2167,6.5,2.5,0.496066

Nakon toga sam izracunao postotak pobjeda, postotak suta, prosjek ukradeni i blokirani i zbroj poena svakog tima po sezoni.

In [3]:
teams = pd.read_csv("against2011.csv")

tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2011)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2011)]
training_set = regular_results.append(tourney_results)
teams.reset_index()
training_set.reset_index()

fgm = []
fga = []
fgPcg = []
ptsTotal = []
stlTotal = []
blkTotal = []
won = []
played = []
wp = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    wonCnt = 0
    gamesPlayed = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm = sumFgm + row2['wfgm']
            sumFga = sumFga + row2['wfga']
            sumPts = sumPts + row2['wscore']
            sumStl = sumStl + row2['wstl']
            sumBlk = sumBlk + row2['wblk']
            gamesPlayed = gamesPlayed + 1
            wonCnt = wonCnt + 1
        if row1['team_id'] == row2['lteam']:
            sumFgm = sumFgm + row2['lfgm']
            sumFga = sumFga + row2['lfga']
            sumPts = sumPts + row2['lscore']
            sumStl = sumStl + row2['lstl']
            sumBlk = sumBlk + row2['lblk']
            gamesPlayed = gamesPlayed + 1
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
    ptsTotal.append(sumPts)
    stlTotal.append(round(sumStl / gamesPlayed * 2) / 2)
    blkTotal.append(round(sumBlk / gamesPlayed * 2) / 2)
    won.append(wonCnt)
    played.append(gamesPlayed)
    wp.append(wonCnt / gamesPlayed)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total2011.csv", index=False)
teams

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_21616\1972538771.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training_set = regular_results.append(tourney_results)

,index,team_id,team_name,playedAgainst,owpSum,owp,won,played,wp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal
0,1,1102,Air Force,"[1398, 1459, 1169, 1191, 1460, 1300, 1115, 131...",0.562273,0.551782,14,28,0.500000,628,1340,0.468657,1799,6.0,2.5
1,2,1103,Akron,"[1173, 1464, 1156, 1178, 1227, 1396, 1278, 112...",0.503356,0.497198,22,35,0.628571,859,2009,0.427576,2435,6.5,3.5
2,3,1104,Alabama,"[1197, 1407, 1371, 1234, 1389, 1105, 1375, 134...",0.522822,0.512782,21,32,0.656250,796,1789,0.444941,2133,9.0,5.0
3,4,1105,Alabama A&M,"[1443, 1104, 1398, 1455, 1412, 1301, 1212, 123...",0.400556,0.393084,10,25,0.400000,554,1395,0.397133,1570,8.5,5.5
4,5,1106,Alabama St,"[1166, 1235, 1319, 1244, 1260, 1416, 1408, 111...",0.420996,0.413547,15,33,0.454545,691,1744,0.396216,2031,7.5,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,359,1460,Wright St,"[1231, 1380, 1324, 1350, 1356, 1153, 1178, 110...",0.524377,0.513710,17,31,0.548387,668,1559,0.428480,1988,6.0,1.0
341,360,1461,Wyoming,"[1294, 1316, 1442, 1281, 1344, 1377, 1232, 141...",0.521940,0.511216,8,29,0.275862,654,1542,0.424125,1872,7.5,4.0
342,361,1462,Xavier,"[1444, 1236, 1234, 1371, 1330, 1459, 1275, 113...",0.565697,0.556442,24,32,0.750000,784,1700,0.461176,2306,5.5,3.0
343,362,1463,Yale,"[1346, 1344, 1130, 1228, 1119, 1216, 1436, 110...",0.492021,0.488939,14,27,0.518519,625,1425,0.438596,1823,4.5,4.5
344,363,1464,Youngstown St,"[1359, 1138, 1103, 1405, 1384, 1454, 1453, 135...",0.507729,0.502103,7,28,0.250000,692,1673,0.413628,1908,6.0,5.0

In [4]:
teams = pd.read_csv("against2012.csv")

tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2012)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2012)]
training_set = regular_results.append(tourney_results)
teams.reset_index()
training_set.reset_index()

fgm = []
fga = []
fgPcg = []
ptsTotal = []
stlTotal = []
blkTotal = []
won = []
played = []
wp = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    wonCnt = 0
    gamesPlayed = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm = sumFgm + row2['wfgm']
            sumFga = sumFga + row2['wfga']
            sumPts = sumPts + row2['wscore']
            sumStl = sumStl + row2['wstl']
            sumBlk = sumBlk + row2['wblk']
            gamesPlayed = gamesPlayed + 1
            wonCnt = wonCnt + 1
        if row1['team_id'] == row2['lteam']:
            sumFgm = sumFgm + row2['lfgm']
            sumFga = sumFga + row2['lfga']
            sumPts = sumPts + row2['lscore']
            sumStl = sumStl + row2['lstl']
            sumBlk = sumBlk + row2['lblk']
            gamesPlayed = gamesPlayed + 1
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
    ptsTotal.append(sumPts)
    stlTotal.append(round(sumStl / gamesPlayed * 2) / 2)
    blkTotal.append(round(sumBlk / gamesPlayed * 2) / 2)
    won.append(wonCnt)
    played.append(gamesPlayed)
    wp.append(wonCnt / gamesPlayed)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total2012.csv", index=False)
teams

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_21616\295844987.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training_set = regular_results.append(tourney_results)

,team_id,team_name,playedAgainst,owp,won,played,wp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal
0,1102,Air Force,"[1119, 1440, 1160, 1179, 1460, 1115, 1271, 121...",0.552012,11,27,0.407407,564,1269,0.444444,1638,6.5,3.0
1,1103,Akron,"[1280, 1434, 1182, 1178, 1452, 1292, 1156, 111...",0.556858,21,32,0.656250,803,1741,0.461229,2287,7.5,4.5
2,1104,Alabama,"[1316, 1324, 1268, 1455, 1345, 1105, 1433, 120...",0.581899,21,33,0.636364,778,1722,0.451800,2135,7.0,4.0
3,1105,Alabama A&M,"[1408, 1104, 1375, 1276, 1210, 1398, 1412, 123...",0.385437,5,26,0.192308,564,1401,0.402570,1589,6.0,4.0
4,1106,Alabama St,"[1267, 1153, 1322, 1240, 1191, 1198, 1372, 138...",0.396064,10,29,0.344828,594,1593,0.372881,1674,7.5,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,1460,Wright St,"[1326, 1238, 1196, 1316, 1150, 1156, 1464, 110...",0.493380,12,31,0.387097,600,1512,0.396825,1777,6.5,1.5
341,1461,Wyoming,"[1294, 1453, 1377, 1340, 1271, 1256, 1430, 113...",0.529698,18,29,0.620690,623,1397,0.445956,1809,6.5,3.5
342,1462,Xavier,"[1288, 1236, 1275, 1208, 1435, 1345, 1139, 115...",0.588522,23,36,0.638889,899,1985,0.452897,2543,6.0,4.0
343,1463,Yale,"[1148, 1346, 1371, 1119, 1216, 1436, 1357, 113...",0.466069,17,26,0.653846,582,1370,0.424818,1733,5.0,3.5
344,1464,Youngstown St,"[1359, 1415, 1336, 1384, 1178, 1460, 1138, 140...",0.483435,14,29,0.482759,690,1604,0.430175,1946,6.5,5.5

In [5]:
teams = pd.read_csv("against2013.csv")

tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2013)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2013)]
training_set = regular_results.append(tourney_results)
teams.reset_index()
training_set.reset_index()

fgm = []
fga = []
fgPcg = []
ptsTotal = []
stlTotal = []
blkTotal = []
won = []
played = []
wp = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    wonCnt = 0
    gamesPlayed = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm = sumFgm + row2['wfgm']
            sumFga = sumFga + row2['wfga']
            sumPts = sumPts + row2['wscore']
            sumStl = sumStl + row2['wstl']
            sumBlk = sumBlk + row2['wblk']
            gamesPlayed = gamesPlayed + 1
            wonCnt = wonCnt + 1
        if row1['team_id'] == row2['lteam']:
            sumFgm = sumFgm + row2['lfgm']
            sumFga = sumFga + row2['lfga']
            sumPts = sumPts + row2['lscore']
            sumStl = sumStl + row2['lstl']
            sumBlk = sumBlk + row2['lblk']
            gamesPlayed = gamesPlayed + 1
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
    ptsTotal.append(sumPts)
    stlTotal.append(round(sumStl / gamesPlayed * 2) / 2)
    blkTotal.append(round(sumBlk / gamesPlayed * 2) / 2)
    won.append(wonCnt)
    played.append(gamesPlayed)
    wp.append(wonCnt / gamesPlayed)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total2013.csv", index=False)
teams

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_21616\718753756.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training_set = regular_results.append(tourney_results)

,team_id,team_name,playedAgainst,owp,won,played,wp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal
0,1102,Air Force,"[1119, 1154, 1286, 1160, 1238, 1455, 1115, 141...",0.555456,15,28,0.535714,683,1450,0.471034,1930,6.0,1.5
1,1103,Akron,"[1157, 1329, 1421, 1336, 1292, 1166, 1178, 111...",0.528784,25,32,0.781250,814,1808,0.450221,2272,7.0,5.5
2,1104,Alabama,"[1355, 1333, 1437, 1149, 1249, 1153, 1173, 143...",0.548965,20,32,0.625000,714,1666,0.428571,2003,8.0,4.5
3,1105,Alabama A&M,"[1235, 1240, 1191, 1398, 1273, 1435, 1283, 111...",0.390389,9,29,0.310345,636,1613,0.394296,1786,5.5,3.5
4,1106,Alabama St,"[1292, 1196, 1416, 1366, 1407, 1152, 1178, 140...",0.408966,9,31,0.290323,705,1744,0.404243,1906,6.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,1461,Wyoming,"[1300, 1377, 1380, 1294, 1167, 1364, 1160, 122...",0.553638,17,30,0.566667,611,1437,0.425191,1804,6.5,3.0
343,1462,Xavier,"[1192, 1139, 1352, 1334, 1180, 1179, 1345, 143...",0.556061,17,31,0.548387,722,1582,0.456384,2021,5.5,3.0
344,1463,Yale,"[1357, 1386, 1191, 1138, 1442, 1436, 1119, 121...",0.490071,12,29,0.413793,617,1500,0.411333,1863,6.0,3.0
345,1464,Youngstown St,"[1203, 1208, 1384, 1295, 1241, 1182, 1245, 113...",0.480199,14,29,0.482759,693,1634,0.424113,1988,6.5,5.5
346,1212,Grambling,"[1156, 1123, 1275, 1222, 1403, 1333, 1120, 137...",0.384451,0,28,0.000000,519,1436,0.361421,1391,4.5,2.5

In [6]:
teams = pd.read_csv("against2014.csv")

regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2014)]
training_set = regular_results
teams.reset_index()
training_set.reset_index()

fgm = []
fga = []
fgPcg = []
ptsTotal = []
stlTotal = []
blkTotal = []
won = []
played = []
wp = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    wonCnt = 0
    gamesPlayed = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm = sumFgm + row2['wfgm']
            sumFga = sumFga + row2['wfga']
            sumPts = sumPts + row2['wscore']
            sumStl = sumStl + row2['wstl']
            sumBlk = sumBlk + row2['wblk']
            gamesPlayed = gamesPlayed + 1
            wonCnt = wonCnt + 1
        if row1['team_id'] == row2['lteam']:
            sumFgm = sumFgm + row2['lfgm']
            sumFga = sumFga + row2['lfga']
            sumPts = sumPts + row2['lscore']
            sumStl = sumStl + row2['lstl']
            sumBlk = sumBlk + row2['lblk']
            gamesPlayed = gamesPlayed + 1
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
    ptsTotal.append(sumPts)
    stlTotal.append(round(sumStl / gamesPlayed * 2) / 2)
    blkTotal.append(round(sumBlk / gamesPlayed * 2) / 2)
    won.append(wonCnt)
    played.append(gamesPlayed)
    wp.append(wonCnt / gamesPlayed)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total2014.csv", index=False)
teams

,team_id,team_name,playedAgainst,owp,won,played,wp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal
0,1101,Abilene Chr,"[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.460338,2,21,0.095238,427,1053,0.405508,1326,6.0,1.5
1,1102,Air Force,"[1119, 1440, 1238, 1115, 1350, 1160, 1377, 141...",0.492970,10,28,0.357143,618,1451,0.425913,1808,5.5,3.0
2,1103,Akron,"[1157, 1388, 1292, 1156, 1126, 1331, 1178, 133...",0.507936,21,33,0.636364,777,1799,0.431907,2241,6.5,4.0
3,1104,Alabama,"[1328, 1403, 1209, 1181, 1180, 1316, 1378, 114...",0.612793,12,31,0.387097,704,1606,0.438356,2068,6.5,4.0
4,1105,Alabama A&M,"[1307, 1444, 1184, 1240, 1398, 1325, 1283, 141...",0.418626,12,28,0.428571,603,1487,0.405514,1787,6.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1460,Wright St,"[1207, 1177, 1223, 1375, 1108, 1441, 1287, 129...",0.448458,18,32,0.562500,710,1580,0.449367,2127,6.5,3.0
347,1461,Wyoming,"[1404, 1160, 1117, 1238, 1377, 1326, 1286, 137...",0.511376,16,30,0.533333,654,1386,0.471861,1939,4.5,4.0
348,1462,Xavier,"[1205, 1397, 1287, 1275, 1101, 1234, 1397, 142...",0.564464,21,33,0.636364,846,1795,0.471309,2383,6.0,3.0
349,1463,Yale,"[1148, 1163, 1353, 1357, 1273, 1248, 1216, 113...",0.500480,14,27,0.518519,564,1372,0.411079,1777,6.0,4.5
350,1464,Youngstown St,"[1244, 1198, 1184, 1269, 1245, 1122, 1352, 128...",0.471631,12,29,0.413793,736,1621,0.454041,2167,6.5,2.5

Ovdje racunamo RPI za svaki tim u svakoj sezoni po formuli i rank svakog tima po rpi unutar pojedine sezone u kojoj je igrao

In [12]:
teams = pd.read_csv("total2011.csv")
rpi = []
for i, row1 in teams.iterrows():
    rpi.append(row1["wp"] * 0.25 + row1["owp"] * 0.5 + row1["oowp"] * 0.25)
teams["rpi"] = rpi
teams['rpiRank'] = teams['rpi'].rank(ascending=0)
teams.to_csv("total2011.csv", index=False)

In [13]:
teams = pd.read_csv("total2012.csv")
rpi = []
for i, row1 in teams.iterrows():
    rpi.append(row1["wp"] * 0.25 + row1["owp"] * 0.5 + row1["oowp"] * 0.25)
teams["rpi"] = rpi
teams['rpiRank'] = teams['rpi'].rank(ascending=0)
teams.to_csv("total2012.csv", index=False)

In [14]:
teams = pd.read_csv("total2013.csv")
rpi = []
for i, row1 in teams.iterrows():
    rpi.append(row1["wp"] * 0.25 + row1["owp"] * 0.5 + row1["oowp"] * 0.25)
teams["rpi"] = rpi
teams['rpiRank'] = teams['rpi'].rank(ascending=0)
teams.to_csv("total2013.csv", index=False)

In [15]:
teams = pd.read_csv("total2014.csv")
rpi = []
for i, row1 in teams.iterrows():
    rpi.append(row1["wp"] * 0.25 + row1["owp"] * 0.5 + row1["oowp"] * 0.25)
teams["rpi"] = rpi
teams['rpiRank'] = teams['rpi'].rank(ascending=0)
teams.to_csv("total2014.csv", index=False)

I na kraju racunamo razliku u ranku rpi, poena, blokirani, ukradeni i postotka suta izmedju timova u svakoj utakmici.

In [16]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2011)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2011)]
regular_results = regular_results[['wteam', 'lteam']]
tourney_results = tourney_results[['wteam', 'lteam']]
games = regular_results.append(tourney_results)
teams = pd.read_csv("total2011.csv")
rpiRankW = []
ptsW = []
fgPcgW = []
stlW = []
blkW = []

games.reset_index()

for i, row1 in games.iterrows():
    teamW = teams.loc[teams['team_id'] == row1.wteam]
    teamL = teams.loc[teams['team_id'] == row1.lteam]
    rpiRankW.append(teamW.iloc[0].rpiRank - teamL.iloc[0].rpiRank)
    ptsW.append(teamW.iloc[0].ptsTotal - teamL.iloc[0].ptsTotal)
    fgPcgW.append((teamW.iloc[0].fgPcg - teamL.iloc[0].fgPcg) * 1000)
    stlW.append(teamW.iloc[0].stlTotal - teamL.iloc[0].stlTotal)
    blkW.append(teamW.iloc[0].blkTotal - teamL.iloc[0].blkTotal)

games["rpiRank"] = rpiRankW
games["pts"] = ptsW
games["fgPcg"] = fgPcgW
games["stl"] = stlW
games["blk"] = blkW

games.to_csv("games2011.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_21616\1809289923.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = regular_results.append(tourney_results)

In [17]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2012)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2012)]
regular_results = regular_results[['wteam', 'lteam']]
tourney_results = tourney_results[['wteam', 'lteam']]
games = regular_results.append(tourney_results)
teams = pd.read_csv("total2012.csv")
rpiRankW = []
ptsW = []
fgPcgW = []
stlW = []
blkW = []

games.reset_index()

for i, row1 in games.iterrows():
    teamW = teams.loc[teams['team_id'] == row1.wteam]
    teamL = teams.loc[teams['team_id'] == row1.lteam]
    rpiRankW.append(teamW.iloc[0].rpiRank - teamL.iloc[0].rpiRank)
    ptsW.append(teamW.iloc[0].ptsTotal - teamL.iloc[0].ptsTotal)
    fgPcgW.append((teamW.iloc[0].fgPcg - teamL.iloc[0].fgPcg) * 1000)
    stlW.append(teamW.iloc[0].stlTotal - teamL.iloc[0].stlTotal)
    blkW.append(teamW.iloc[0].blkTotal - teamL.iloc[0].blkTotal)

games["rpiRank"] = rpiRankW
games["pts"] = ptsW
games["fgPcg"] = fgPcgW
games["stl"] = stlW
games["blk"] = blkW

games.to_csv("games2012.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_21616\4193770048.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = regular_results.append(tourney_results)

In [18]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2013)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2013)]
regular_results = regular_results[['wteam', 'lteam']]
tourney_results = tourney_results[['wteam', 'lteam']]
games = regular_results.append(tourney_results)
teams = pd.read_csv("total2013.csv")
rpiRankW = []
ptsW = []
fgPcgW = []
stlW = []
blkW = []

games.reset_index()

for i, row1 in games.iterrows():
    teamW = teams.loc[teams['team_id'] == row1.wteam]
    teamL = teams.loc[teams['team_id'] == row1.lteam]
    rpiRankW.append(teamW.iloc[0].rpiRank - teamL.iloc[0].rpiRank)
    ptsW.append(teamW.iloc[0].ptsTotal - teamL.iloc[0].ptsTotal)
    fgPcgW.append((teamW.iloc[0].fgPcg - teamL.iloc[0].fgPcg) * 1000)
    stlW.append(teamW.iloc[0].stlTotal - teamL.iloc[0].stlTotal)
    blkW.append(teamW.iloc[0].blkTotal - teamL.iloc[0].blkTotal)

games["rpiRank"] = rpiRankW
games["pts"] = ptsW
games["fgPcg"] = fgPcgW
games["stl"] = stlW
games["blk"] = blkW

games.to_csv("games2013.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_21616\3525904548.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = regular_results.append(tourney_results)

In [19]:
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2014)]
regular_results = regular_results[['wteam', 'lteam']]
games = regular_results
teams = pd.read_csv("total2014.csv")
rpiRankW = []
ptsW = []
fgPcgW = []
stlW = []
blkW = []

games.reset_index()

for i, row1 in games.iterrows():
    teamW = teams.loc[teams['team_id'] == row1.wteam]
    teamL = teams.loc[teams['team_id'] == row1.lteam]
    rpiRankW.append(teamW.iloc[0].rpiRank - teamL.iloc[0].rpiRank)
    ptsW.append(teamW.iloc[0].ptsTotal - teamL.iloc[0].ptsTotal)
    fgPcgW.append((teamW.iloc[0].fgPcg - teamL.iloc[0].fgPcg) * 1000)
    stlW.append(teamW.iloc[0].stlTotal - teamL.iloc[0].stlTotal)
    blkW.append(teamW.iloc[0].blkTotal - teamL.iloc[0].blkTotal)

games["rpiRank"] = rpiRankW
games["pts"] = ptsW
games["fgPcg"] = fgPcgW
games["stl"] = stlW
games["blk"] = blkW

games.to_csv("games2014.csv", index=False)

Na kraju samo konkateniramo sve utakmice sa razlikama izmedju statistika koje smo izracunali

In [21]:
games1 = pd.read_csv("games2011.csv")
games2 = pd.read_csv("games2012.csv")
games3 = pd.read_csv("games2013.csv")
games4 = pd.read_csv("games2014.csv")

games = games1.append(games2)
games = games.append(games3)
games = games.append(games4)
games.fgPcg = games.fgPcg.astype(int)
games.rpiRank = games.rpiRank.astype(int)
games.to_csv("gamesTraining.csv", index=False)
games

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_21616\1303059859.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = games1.append(games2)
C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_21616\1303059859.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = games.append(games3)
C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_21616\1303059859.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = games.append(games4)

      wteam  lteam  rpiRank  pts  fgPcg  stl  blk
0      1228   1414     -248  101     49 -1.0  3.0
1      1268   1370     -210  398     71 -2.0  2.5
2      1338   1348      -90  328     53 -2.0 -0.5
3      1400   1298     -291  662     59 -3.0  2.5
4      1228   1405     -293  640     64  0.0  3.0
...     ...    ...      ...  ...    ...  ...  ...
5357   1196   1246      -15 -176     10  2.0 -3.0
5358   1277   1276        3  127     -1  2.0  2.5
5359   1386   1433       11 -197     50 -6.5  0.0
5360   1418   1209        9   68    -11 -1.0 -0.5
5361   1438   1181       -1 -432    -10 -1.5  1.0

[21382 rows x 7 columns]