In [1]:
import pandas as pd
from ast import literal_eval
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [3]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results.shape

(780, 34)

In [4]:
tourney_results = tourney_results[(tourney_results["season"] == 2011)]
tourney_results

,season,daynum,wteam,wscore,lteam,lscore,wloc,numot,wfgm,wfga,...,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
512,2011,134,1155,70,1412,52,N,0,26,50,...,24,4,7,7,22,10,19,4,3,10
513,2011,134,1421,81,1114,77,N,1,27,54,...,29,20,26,7,26,19,16,6,2,24
514,2011,135,1427,70,1106,61,N,0,23,54,...,26,10,12,11,28,13,12,6,3,22
515,2011,135,1433,59,1425,46,N,0,20,59,...,9,15,25,5,26,4,15,2,6,20
516,2011,136,1139,60,1330,58,N,0,22,54,...,15,21,27,13,16,8,15,9,2,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,2011,146,1246,76,1314,69,N,0,27,56,...,16,12,15,11,25,13,13,9,5,17
575,2011,146,1433,71,1242,61,N,0,21,53,...,21,15,28,19,26,10,14,8,6,20
576,2011,152,1139,70,1433,62,N,0,21,59,...,22,8,13,6,26,17,10,3,4,24
577,2011,152,1163,56,1246,55,N,0,23,49,...,27,4,12,15,22,12,10,11,3,12
578,2011,154,1163,53,1139,41,N,0,19,55,...,33,8,14,20,21,5,6,8,2,17

In [5]:
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results.shape

(60518, 34)

In [6]:
regular_results = regular_results[(regular_results["season"] == 2011)]
regular_results

,season,daynum,wteam,wscore,lteam,lscore,wloc,numot,wfgm,wfga,...,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
39337,2011,7,1228,79,1414,65,H,0,29,58,...,20,14,22,11,26,12,14,7,1,21
39338,2011,7,1268,105,1370,76,H,0,35,62,...,16,17,22,18,16,11,27,18,1,31
39339,2011,7,1338,83,1348,75,H,0,29,64,...,32,13,16,10,21,16,17,7,6,25
39340,2011,7,1400,83,1298,52,H,0,30,59,...,23,10,18,8,22,8,16,5,5,24
39341,2011,9,1228,84,1405,45,H,0,37,64,...,12,10,19,6,17,9,23,6,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44578,2011,131,1449,77,1112,75,N,1,30,66,...,21,20,30,11,21,12,8,4,2,15
44579,2011,132,1181,75,1314,58,N,0,29,58,...,8,14,21,19,25,8,16,4,5,16
44580,2011,132,1246,70,1196,54,N,0,20,48,...,20,3,8,15,22,11,14,1,5,22
44581,2011,132,1326,71,1336,60,N,0,26,51,...,18,9,9,10,22,8,10,3,2,17
44582,2011,132,1350,67,1173,54,N,0,19,45,...,14,9,12,11,22,11,11,5,5,19

In [7]:
training_set = regular_results.append(tourney_results)
training_set

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_36280\3570724505.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training_set = regular_results.append(tourney_results)

,season,daynum,wteam,wscore,lteam,lscore,wloc,numot,wfgm,wfga,...,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
39337,2011,7,1228,79,1414,65,H,0,29,58,...,20,14,22,11,26,12,14,7,1,21
39338,2011,7,1268,105,1370,76,H,0,35,62,...,16,17,22,18,16,11,27,18,1,31
39339,2011,7,1338,83,1348,75,H,0,29,64,...,32,13,16,10,21,16,17,7,6,25
39340,2011,7,1400,83,1298,52,H,0,30,59,...,23,10,18,8,22,8,16,5,5,24
39341,2011,9,1228,84,1405,45,H,0,37,64,...,12,10,19,6,17,9,23,6,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,2011,146,1246,76,1314,69,N,0,27,56,...,16,12,15,11,25,13,13,9,5,17
575,2011,146,1433,71,1242,61,N,0,21,53,...,21,15,28,19,26,10,14,8,6,20
576,2011,152,1139,70,1433,62,N,0,21,59,...,22,8,13,6,26,17,10,3,4,24
577,2011,152,1163,56,1246,55,N,0,23,49,...,27,4,12,15,22,12,10,11,3,12
578,2011,154,1163,53,1139,41,N,0,19,55,...,33,8,14,20,21,5,6,8,2,17

In [8]:
training_set.isna().sum()

season    0
daynum    0
wteam     0
wscore    0
lteam     0
lscore    0
wloc      0
numot     0
wfgm      0
wfga      0
wfgm3     0
wfga3     0
wftm      0
wfta      0
wor       0
wdr       0
wast      0
wto       0
wstl      0
wblk      0
wpf       0
lfgm      0
lfga      0
lfgm3     0
lfga3     0
lftm      0
lfta      0
lor       0
ldr       0
last      0
lto       0
lstl      0
lblk      0
lpf       0
dtype: int64

In [9]:
statistics = pd.read_csv("teams.csv")
teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsW.shape

(345, 2)

In [10]:
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
teams

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_36280\2097467678.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  teams = teamsW.append(teamsL)

     team_id      team_name
1       1102      Air Force
2       1103          Akron
3       1104        Alabama
4       1105    Alabama A&M
5       1106     Alabama St
..       ...            ...
359     1460      Wright St
360     1461        Wyoming
361     1462         Xavier
362     1463           Yale
363     1464  Youngstown St

[345 rows x 2 columns]

In [11]:
# Samo prvi put pokrenit
#training_set = training_set.reset_index()
fgm = []
fga = []
fgPcg = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm = sumFgm + row2['wfgm']
            sumFga = sumFga + row2['wfga']
        if row1['team_id'] == row2['lteam']:
            sumFgm = sumFgm + row2['lfgm']
            sumFga = sumFga + row2['lfga']
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg
teams.to_csv("fgPcg2011.csv", index=False)

KeyboardInterrupt:

In [ ]:
#training_set = training_set.reset_index()
ptsTotal = []
stlTotal = []
blkTotal = []
for i, row1 in teams.iterrows():
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumPts = sumPts + row2['wscore']
            sumStl = sumStl + row2['wstl']
            sumBlk = sumBlk + row2['wblk']
        if row1['team_id'] == row2['lteam']:
            sumPts = sumPts + row2['lscore']
            sumStl = sumStl + row2['lstl']
            sumBlk = sumBlk + row2['lblk']
    ptsTotal.append(sumPts)
    stlTotal.append(sumStl)
    blkTotal.append(sumBlk)
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams.to_csv("total2011.csv", index=False)
teams

In [ ]:
teams = pd.read_csv("total2011.csv")
teams = teams.reset_index()
won = []
played = []
wp = []
for i, row1 in teams.iterrows():
    wonCnt = 0
    playedCnt = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            wonCnt = wonCnt + 1
            playedCnt = playedCnt + 1
        if row1['team_id'] == row2['lteam']:
            playedCnt = playedCnt + 1
    won.append(wonCnt)
    played.append(playedCnt)
    wp.append(wonCnt / playedCnt)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total2011.csv", index=False)
teams

In [44]:
teams = pd.read_csv("total2011.csv")
owp = []
for i, row1 in teams.iterrows():
    print("Prva: " + str(row1.team_id))
    wpSum = 0
    totalTeams = 0
    for j, row2 in teams.iterrows():
        wonCnt = 0
        playedCnt = 0
        didPlay = False
        for k, row3 in training_set.iterrows():
            if row2['team_id'] == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
                didPlay = True
            if row2['team_id'] == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
                didPlay = True
        if didPlay:
            totalTeams = totalTeams + 1
            wpSum = wpSum + (wonCnt / playedCnt)
    owp.append(wpSum / totalTeams)
teams["owp"] = owp
teams.to_csv("total2011.csv", index=False)
teams

Prva: 1102
Prva: 1103

KeyboardInterrupt:

In [22]:
teams = pd.read_csv("total2011.csv")
teams

,index,Unnamed: 0,team_id,team_name,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal,won,played,wp
0,0,0,1101,Abilene Chr,427,1053,0.405508,1326,121,31,2,21,0.095238
1,1,1,1102,Air Force,2493,5510,0.452450,7175,665,282,50,111,0.450450
2,2,2,1103,Akron,3253,7357,0.442164,9235,900,576,89,132,0.674242
3,3,3,1104,Alabama,2992,6783,0.441103,8339,1007,578,74,128,0.578125
4,4,4,1105,Alabama A&M,2357,5896,0.399763,6732,702,447,36,108,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,347,347,1460,Wright St,2683,6278,0.427365,7869,849,240,67,126,0.531746
348,348,348,1461,Wyoming,2542,5762,0.441166,7424,728,415,59,118,0.500000
349,349,349,1462,Xavier,3251,7062,0.460351,9253,747,416,85,132,0.643939
350,350,350,1463,Yale,2388,5667,0.421387,7196,602,416,57,109,0.522936
351,351,351,1464,Youngstown St,2811,6532,0.430343,8009,725,515,47,115,0.408696

In [17]:
#model = np.poly1d(np.polyfit(hours, happ, 2))
#print(model)

teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
played = []
playedAgainst = []
for i, row1 in teams.iterrows():
    wonCnt = 0
    playedCnt = 0
    timovi = []
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            timovi.append(row2.lteam)
        if row1['team_id'] == row2['lteam']:
            timovi.append(row2.wteam)
    playedAgainst.append(timovi)
teams["playedAgainst"] = playedAgainst
teams.to_csv("against2011.csv", index=False)
teams

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_36280\3529622060.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  teams = teamsW.append(teamsL)

1102
1103
1104
1105
1106
1107
1108
1110
1111
1112
1113
1114
1115
1116
1117
1119
1120
1122
1123
1124
1125
1126
1127
1129
1130
1131
1132
1133
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1214
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1290
1291
1292
1293
1294
1295
1296
1298
1299
1300
1301
1304
1305
1306
1307
1308
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464

     team_id      team_name                                      playedAgainst
1       1102      Air Force  [1398, 1459, 1169, 1191, 1460, 1300, 1115, 131...
2       1103          Akron  [1173, 1464, 1156, 1178, 1227, 1396, 1278, 112...
3       1104        Alabama  [1197, 1407, 1371, 1234, 1389, 1105, 1375, 134...
4       1105    Alabama A&M  [1443, 1104, 1398, 1455, 1412, 1301, 1212, 123...
5       1106     Alabama St  [1166, 1235, 1319, 1244, 1260, 1416, 1408, 111...
..       ...            ...                                                ...
359     1460      Wright St  [1231, 1380, 1324, 1350, 1356, 1153, 1178, 110...
360     1461        Wyoming  [1294, 1316, 1442, 1281, 1344, 1377, 1232, 141...
361     1462         Xavier  [1444, 1236, 1234, 1371, 1330, 1459, 1275, 113...
362     1463           Yale  [1346, 1344, 1130, 1228, 1119, 1216, 1436, 110...
363     1464  Youngstown St  [1359, 1138, 1103, 1405, 1384, 1454, 1453, 135...

[345 rows x 3 columns]

In [ ]:
teams = pd.read_csv("against2011.csv")
oppWinPcg = []
training_set = training_set[['wteam', 'lteam']]
#teams = teams.reset_index()

for i, row1 in teams.iterrows():
    print(row1.team_id)
    wpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        wonCnt = 0
        playedCnt = 0
        for k, row3 in training_set.iterrows():
            if row2 == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
            if row2 == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
        if playedCnt > 0:
            wpSum = wpSum + (wonCnt / playedCnt)
    oppWinPcg.append(wpSum / len(lista))
teams["owp"] = oppWinPcg
teams

1102
1103
1104
1105
1106
1107
1108
1110
1111
1112
1113
1114
1115
1116
1117
1119
1120
1122
1123
1124
1125
1126
1127
1129
1130
1131
1132
1133
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1214
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283

In [ ]:
teams.to_csv("against2011.csv", index=False)

In [7]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2012)]
tourney_results = tourney_results[(tourney_results["season"] == 2012)]
training_set = regular_results.append(tourney_results)
statistics = pd.read_csv("teams.csv")
teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
teams.reset_index()
playedAgainst = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wonCnt = 0
    playedCnt = 0
    timovi = []
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            timovi.append(row2.lteam)
        if row1['team_id'] == row2['lteam']:
            timovi.append(row2.wteam)
    playedAgainst.append(timovi)
teams["playedAgainst"] = playedAgainst
teams.to_csv("against2012.csv", index=False)
oppWinPcg = []
training_set = training_set[['wteam', 'lteam']]
owp = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wpSum = 0
    lista = row1.playedAgainst
    for row2 in lista:
        wonCnt = 0
        playedCnt = 0
        for k, row3 in training_set.iterrows():
            if row2 == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
            if row2 == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
        if playedCnt > 0:
            wpSum = wpSum + (wonCnt / playedCnt)
    oppWinPcg.append(wpSum / len(lista))
teams["owp"] = oppWinPcg
teams
teams.to_csv("against2012.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_9632\3213725530.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training_set = regular_results.append(tourney_results)
C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_9632\3213725530.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  teams = teamsW.append(teamsL)

1102
1103
1104
1105
1106
1107
1108
1110
1111
1112
1113
1114
1115
1116
1117
1119
1120
1122
1123
1124
1125
1126
1127
1129
1130
1131
1132
1133
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1214
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1290
1291
1292
1293
1294
1295
1296
1298
1299
1300
1301
1303
1304
1305
1306
1307
1308
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1102
1103
1104
1105
1106
1107
1108
1110
1111
1112
1113
1114
1115
1116
1117
1119
1120
1122
1123
1124
1125
1126
1127
1129
1130
1131
1132
1133
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1214
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1290
1291
1292
1293
1294
1295
1296
1298
1299
1300
1301
1303
1304
1305
1306
1307
1308
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464

In [8]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2013)]
tourney_results = tourney_results[(tourney_results["season"] == 2013)]
training_set = regular_results.append(tourney_results)
statistics = pd.read_csv("teams.csv")
teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
playedAgainst = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wonCnt = 0
    playedCnt = 0
    timovi = []
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            timovi.append(row2.lteam)
        if row1['team_id'] == row2['lteam']:
            timovi.append(row2.wteam)
    playedAgainst.append(timovi)
teams["playedAgainst"] = playedAgainst
teams.to_csv("against2013.csv", index=False)
oppWinPcg = []
training_set = training_set[['wteam', 'lteam']]
owp = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wpSum = 0
    lista = row1.playedAgainst
    for row2 in lista:
        wonCnt = 0
        playedCnt = 0
        for k, row3 in training_set.iterrows():
            if row2 == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
            if row2 == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
        if playedCnt > 0:
            wpSum = wpSum + (wonCnt / playedCnt)
    oppWinPcg.append(wpSum / len(lista))
teams["owp"] = oppWinPcg
teams
teams.to_csv("against2013.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_9632\1419743016.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training_set = regular_results.append(tourney_results)
C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_9632\1419743016.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  teams = teamsW.append(teamsL)

1102
1103
1104
1105
1106
1107
1108
1110
1111
1112
1113
1114
1115
1116
1117
1119
1120
1122
1123
1124
1125
1126
1127
1129
1130
1131
1132
1133
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1214
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1212
1102
1103
1104
1105
1106
1107
1108
1110
1111
1112
1113
1114
1115
1116
1117
1119
1120
1122
1123
1124
1125
1126
1127
1129
1130
1131
1132
1133
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1214
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1212

In [10]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2014)]
training_set = regular_results
statistics = pd.read_csv("teams.csv")
teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
playedAgainst = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wonCnt = 0
    playedCnt = 0
    timovi = []
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            timovi.append(row2.lteam)
        if row1['team_id'] == row2['lteam']:
            timovi.append(row2.wteam)
    playedAgainst.append(timovi)
teams["playedAgainst"] = playedAgainst
teams.to_csv("against2014.csv", index=False)
oppWinPcg = []
training_set = training_set[['wteam', 'lteam']]
owp = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wpSum = 0
    lista = row1.playedAgainst
    for row2 in lista:
        wonCnt = 0
        playedCnt = 0
        for k, row3 in training_set.iterrows():
            if row2 == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
            if row2 == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
        if playedCnt > 0:
            wpSum = wpSum + (wonCnt / playedCnt)
    oppWinPcg.append(wpSum / len(lista))
teams["owp"] = oppWinPcg
teams
teams.to_csv("against2014.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_9632\2808406128.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  teams = teamsW.append(teamsL)

1102
1103
1104
1105
1106
1107
1108
1110
1111
1112
1113
1114
1115
1116
1117
1119
1120
1122
1123
1124
1125
1126
1127
1129
1130
1131
1132
1133
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1214
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1290
1291
1292
1293
1294
1295
1296
1298
1299
1300
1301
1303
1304
1305
1306
1307
1308
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1102
1103
1104
1105
1106
1107
1108
1110
1111
1112
1113
1114
1115
1116
1117
1119
1120
1122
1123
1124
1125
1126
1127
1129
1130
1131
1132
1133
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1214
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1290
1291
1292
1293
1294
1295
1296
1298
1299
1300
1301
1303
1304
1305
1306
1307
1308
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_9632\1723273641.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  teams = teamsW.append(teamsL)

1101
1102
1103
1104
1105
1106
1107
1108
1110
1111
1112
1113
1114
1115
1116
1117
1119
1120
1122
1123
1124
1125
1126
1127
1129
1130
1131
1132
1133
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1101
1102
1103
1104
1105
1106
1107
1108
1110
1111
1112
1113
1114
1115
1116
1117
1119
1120
1122
1123
1124
1125
1126
1127
1129
1130
1131
1132
1133
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464

In [28]:
teams = pd.read_csv("total2011.csv")
owps = pd.read_csv("against2011.csv")
oowp = []
for i, row1 in teams.iterrows():
    owpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        team = owps.loc[owps['team_id'] == row2]
        owpSum = owpSum + team.iloc[0].owp
    oowp.append(owpSum / len(lista))
teams["oowp"] = oowp
teams.to_csv("total2011.csv", index=False)
teams

AttributeError: 'Series' object has no attribute 'playedAgainst'

In [ ]:
teams = pd.read_csv("total2012.csv")
owps = pd.read_csv("against2012.csv")
oowp = []
for i, row1 in teams.iterrows():
    owpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        team = owps.loc[owps['team_id'] == row2]
        owpSum = owpSum + team.iloc[0].owp
    oowp.append(owpSum / len(lista))
teams["oowp"] = oowp
teams.to_csv("total2012.csv", index=False)
teams

In [ ]:
teams = pd.read_csv("total2013.csv")
owps = pd.read_csv("against2013.csv")
oowp = []
for i, row1 in teams.iterrows():
    owpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        team = owps.loc[owps['team_id'] == row2]
        owpSum = owpSum + team.iloc[0].owp
    oowp.append(owpSum / len(lista))
teams["oowp"] = oowp
teams.to_csv("total2013.csv", index=False)
teams

In [26]:
teams = pd.read_csv("total2014.csv")
owps = pd.read_csv("against2014.csv")
oowp = []
for i, row1 in teams.iterrows():
    owpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        team = owps.loc[owps['team_id'] == row2]
        owpSum = owpSum + team.iloc[0].owp
    oowp.append(owpSum / len(lista))
teams["oowp"] = oowp
teams.to_csv("total2014.csv", index=False)
teams

,team_id,team_name,playedAgainst,owp,oowp
0,1101,Abilene Chr,"[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.460338,0.474180
1,1102,Air Force,"[1119, 1440, 1238, 1115, 1350, 1160, 1377, 141...",0.492970,0.515688
2,1103,Akron,"[1157, 1388, 1292, 1156, 1126, 1331, 1178, 133...",0.507936,0.513193
3,1104,Alabama,"[1328, 1403, 1209, 1181, 1180, 1316, 1378, 114...",0.612793,0.544920
4,1105,Alabama A&M,"[1307, 1444, 1184, 1240, 1398, 1325, 1283, 141...",0.418626,0.446720
...,...,...,...,...,...
346,1460,Wright St,"[1207, 1177, 1223, 1375, 1108, 1441, 1287, 129...",0.448458,0.493479
347,1461,Wyoming,"[1404, 1160, 1117, 1238, 1377, 1326, 1286, 137...",0.511376,0.517649
348,1462,Xavier,"[1205, 1397, 1287, 1275, 1101, 1234, 1397, 142...",0.564464,0.555836
349,1463,Yale,"[1148, 1163, 1353, 1357, 1273, 1248, 1216, 113...",0.500480,0.479360
350,1464,Youngstown St,"[1244, 1198, 1184, 1269, 1245, 1122, 1352, 128...",0.471631,0.496066

In [ ]:
teams = pd.read_csv("against2012.csv")

tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2012)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2012)]
training_set = regular_results.append(tourney_results)
teams.reset_index()
training_set.reset_index()

fgm = []
fga = []
fgPcg = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm = sumFgm + row2['wfgm']
            sumFga = sumFga + row2['wfga']
        if row1['team_id'] == row2['lteam']:
            sumFgm = sumFgm + row2['lfgm']
            sumFga = sumFga + row2['lfga']
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg

print("Fgpcgdone")
teams.reset_index()
training_set.reset_index()
ptsTotal = []
stlTotal = []
blkTotal = []
for i, row1 in teams.iterrows():
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumPts = sumPts + row2['wscore']
            sumStl = sumStl + row2['wstl']
            sumBlk = sumBlk + row2['wblk']
        if row1['team_id'] == row2['lteam']:
            sumPts = sumPts + row2['lscore']
            sumStl = sumStl + row2['lstl']
            sumBlk = sumBlk + row2['lblk']
    ptsTotal.append(sumPts)
    stlTotal.append(sumStl)
    blkTotal.append(sumBlk)
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams.reset_index()
training_set.reset_index()
won = []
played = []
wp = []
print("ptsstlblk")
for i, row1 in teams.iterrows():
    wonCnt = 0
    playedCnt = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            wonCnt = wonCnt + 1
            playedCnt = playedCnt + 1
        if row1['team_id'] == row2['lteam']:
            playedCnt = playedCnt + 1
    won.append(wonCnt)
    played.append(playedCnt)
    wp.append(wonCnt / playedCnt)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total2012.csv", index=False)
teams

In [25]:
teams = pd.read_csv("against2013.csv")

tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2013)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2013)]
training_set = regular_results.append(tourney_results)
teams.reset_index()
training_set.reset_index()

fgm = []
fga = []
fgPcg = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm = sumFgm + row2['wfgm']
            sumFga = sumFga + row2['wfga']
        if row1['team_id'] == row2['lteam']:
            sumFgm = sumFgm + row2['lfgm']
            sumFga = sumFga + row2['lfga']
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg

print("Fgpcgdone")
teams.reset_index()
training_set.reset_index()
ptsTotal = []
stlTotal = []
blkTotal = []
for i, row1 in teams.iterrows():
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumPts = sumPts + row2['wscore']
            sumStl = sumStl + row2['wstl']
            sumBlk = sumBlk + row2['wblk']
        if row1['team_id'] == row2['lteam']:
            sumPts = sumPts + row2['lscore']
            sumStl = sumStl + row2['lstl']
            sumBlk = sumBlk + row2['lblk']
    ptsTotal.append(sumPts)
    stlTotal.append(sumStl)
    blkTotal.append(sumBlk)
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams.reset_index()
training_set.reset_index()
won = []
played = []
wp = []
print("ptsstlblk")
for i, row1 in teams.iterrows():
    wonCnt = 0
    playedCnt = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            wonCnt = wonCnt + 1
            playedCnt = playedCnt + 1
        if row1['team_id'] == row2['lteam']:
            playedCnt = playedCnt + 1
    won.append(wonCnt)
    played.append(playedCnt)
    wp.append(wonCnt / playedCnt)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total2013.csv", index=False)
teams

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\2674302205.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training_set = regular_results.append(tourney_results)

Fgpcgdone
ptsstlblk

,team_id,team_name,playedAgainst,owp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal,won,played,wp
0,1102,Air Force,"[1119, 1154, 1286, 1160, 1238, 1455, 1115, 141...",0.555456,683,1450,0.471034,1930,174,48,15,28,0.535714
1,1103,Akron,"[1157, 1329, 1421, 1336, 1292, 1166, 1178, 111...",0.528784,814,1808,0.450221,2272,223,179,25,32,0.781250
2,1104,Alabama,"[1355, 1333, 1437, 1149, 1249, 1153, 1173, 143...",0.548965,714,1666,0.428571,2003,263,143,20,32,0.625000
3,1105,Alabama A&M,"[1235, 1240, 1191, 1398, 1273, 1435, 1283, 111...",0.390389,636,1613,0.394296,1786,159,97,9,29,0.310345
4,1106,Alabama St,"[1292, 1196, 1416, 1366, 1407, 1152, 1178, 140...",0.408966,705,1744,0.404243,1906,191,100,9,31,0.290323
...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,1461,Wyoming,"[1300, 1377, 1380, 1294, 1167, 1364, 1160, 122...",0.553638,611,1437,0.425191,1804,188,96,17,30,0.566667
343,1462,Xavier,"[1192, 1139, 1352, 1334, 1180, 1179, 1345, 143...",0.556061,722,1582,0.456384,2021,164,86,17,31,0.548387
344,1463,Yale,"[1357, 1386, 1191, 1138, 1442, 1436, 1119, 121...",0.490071,617,1500,0.411333,1863,179,84,12,29,0.413793
345,1464,Youngstown St,"[1203, 1208, 1384, 1295, 1241, 1182, 1245, 113...",0.480199,693,1634,0.424113,1988,184,154,14,29,0.482759
346,1212,Grambling,"[1156, 1123, 1275, 1222, 1403, 1333, 1120, 137...",0.384451,519,1436,0.361421,1391,123,64,0,28,0.000000

In [27]:
teams = pd.read_csv("against2014.csv")

regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2014)]
training_set = regular_results
teams.reset_index()
training_set.reset_index()

fgm = []
fga = []
fgPcg = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm = sumFgm + row2['wfgm']
            sumFga = sumFga + row2['wfga']
        if row1['team_id'] == row2['lteam']:
            sumFgm = sumFgm + row2['lfgm']
            sumFga = sumFga + row2['lfga']
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg

print("Fgpcgdone")
teams.reset_index()
training_set.reset_index()
ptsTotal = []
stlTotal = []
blkTotal = []
for i, row1 in teams.iterrows():
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumPts = sumPts + row2['wscore']
            sumStl = sumStl + row2['wstl']
            sumBlk = sumBlk + row2['wblk']
        if row1['team_id'] == row2['lteam']:
            sumPts = sumPts + row2['lscore']
            sumStl = sumStl + row2['lstl']
            sumBlk = sumBlk + row2['lblk']
    ptsTotal.append(sumPts)
    stlTotal.append(sumStl)
    blkTotal.append(sumBlk)
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams.reset_index()
training_set.reset_index()
won = []
played = []
wp = []
print("ptsstlblk")
for i, row1 in teams.iterrows():
    wonCnt = 0
    playedCnt = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            wonCnt = wonCnt + 1
            playedCnt = playedCnt + 1
        if row1['team_id'] == row2['lteam']:
            playedCnt = playedCnt + 1
    won.append(wonCnt)
    played.append(playedCnt)
    wp.append(wonCnt / playedCnt)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total2014.csv", index=False)
teams

Fgpcgdone
ptsstlblk

,team_id,team_name,playedAgainst,owp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal,won,played,wp
0,1101,Abilene Chr,"[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.460338,427,1053,0.405508,1326,121,31,2,21,0.095238
1,1102,Air Force,"[1119, 1440, 1238, 1115, 1350, 1160, 1377, 141...",0.492970,618,1451,0.425913,1808,148,83,10,28,0.357143
2,1103,Akron,"[1157, 1388, 1292, 1156, 1126, 1331, 1178, 133...",0.507936,777,1799,0.431907,2241,218,139,21,33,0.636364
3,1104,Alabama,"[1328, 1403, 1209, 1181, 1180, 1316, 1378, 114...",0.612793,704,1606,0.438356,2068,209,131,12,31,0.387097
4,1105,Alabama A&M,"[1307, 1444, 1184, 1240, 1398, 1325, 1283, 141...",0.418626,603,1487,0.405514,1787,169,114,12,28,0.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1460,Wright St,"[1207, 1177, 1223, 1375, 1108, 1441, 1287, 129...",0.448458,710,1580,0.449367,2127,215,94,18,32,0.562500
347,1461,Wyoming,"[1404, 1160, 1117, 1238, 1377, 1326, 1286, 137...",0.511376,654,1386,0.471861,1939,135,114,16,30,0.533333
348,1462,Xavier,"[1205, 1397, 1287, 1275, 1101, 1234, 1397, 142...",0.564464,846,1795,0.471309,2383,193,97,21,33,0.636364
349,1463,Yale,"[1148, 1163, 1353, 1357, 1273, 1248, 1216, 113...",0.500480,564,1372,0.411079,1777,164,115,14,27,0.518519
350,1464,Youngstown St,"[1244, 1198, 1184, 1269, 1245, 1122, 1352, 128...",0.471631,736,1621,0.454041,2167,185,72,12,29,0.413793

In [34]:
teams = pd.read_csv("oowp2011.csv")
teams2 = pd.read_csv("total2011.csv")
teams2["owp"] = teams["owp"]
teams2.to_csv("total2011.csv", index=False)

In [42]:
teams = pd.read_csv("total2011.csv")
rpi = []
for i, row1 in teams.iterrows():
    rpi.append(row1["wp"] * 0.25 + row1["owp"] * 0.5 + row1["oowp"]* 0.25)
teams["rpi"] = rpi
teams['rpiRank'] = teams['rpi'].rank(ascending = 0)
teams.to_csv("total2011.csv", index=False)

In [43]:
teams = pd.read_csv("total2012.csv")
rpi = []
for i, row1 in teams.iterrows():
    rpi.append(row1["wp"] * 0.25 + row1["owp"] * 0.5 + row1["oowp"]* 0.25)
teams["rpi"] = rpi
teams['rpiRank'] = teams['rpi'].rank(ascending = 0)
teams.to_csv("total2012.csv", index=False)

In [44]:
teams = pd.read_csv("total2013.csv")
rpi = []
for i, row1 in teams.iterrows():
    rpi.append(row1["wp"] * 0.25 + row1["owp"] * 0.5 + row1["oowp"]* 0.25)
teams["rpi"] = rpi
teams['rpiRank'] = teams['rpi'].rank(ascending = 0)
teams.to_csv("total2013.csv", index=False)

In [45]:
teams = pd.read_csv("total2014.csv")
rpi = []
for i, row1 in teams.iterrows():
    rpi.append(row1["wp"] * 0.25 + row1["owp"] * 0.5 + row1["oowp"]* 0.25)
teams["rpi"] = rpi
teams['rpiRank'] = teams['rpi'].rank(ascending = 0)
teams.to_csv("total2014.csv", index=False)

In [52]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2011)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2011)]
regular_results = regular_results[['wteam', 'lteam']]
tourney_results = tourney_results[['wteam', 'lteam']]
games = regular_results.append(tourney_results)
teams = pd.read_csv("total2011.csv")
rpiRankW = []
rpiRankL = []
ptsW = []
ptsL = []
fgPcgW = []
fgPcgL = []
stlW = []
stlL = []
blkW = []
blkL = []

games.reset_index()

for i, row1 in games.iterrows():
    team = teams.loc[teams['team_id'] == row1.wteam]
    rpiRankW.append(team.iloc[0].rpiRank)
    ptsW.append(team.iloc[0].ptsTotal)
    fgPcgW.append(team.iloc[0].fgPcg)
    stlW.append(team.iloc[0].stlTotal)
    blkW.append(team.iloc[0].blkTotal)

    team = teams.loc[teams['team_id'] == row1.lteam]
    rpiRankL.append(team.iloc[0].rpiRank)
    ptsL.append(team.iloc[0].ptsTotal)
    fgPcgL.append(team.iloc[0].fgPcg)
    stlL.append(team.iloc[0].stlTotal)
    blkL.append(team.iloc[0].blkTotal)

games["rpiRankW"] =rpiRankW
games["rpiRankL"] =rpiRankL
games["ptsW"] =ptsW
games["ptsL"] =ptsL
games["fgPcgW"] =fgPcgW
games["fgPcgL"] =fgPcgL
games["stlW"] =stlW
games["stlL"] =stlL
games["blkW"] =blkW
games["blkL"] =blkL

games.to_csv("games2011.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\1518137048.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = regular_results.append(tourney_results)

In [53]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2012)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2012)]
regular_results = regular_results[['wteam', 'lteam']]
tourney_results = tourney_results[['wteam', 'lteam']]
games = regular_results.append(tourney_results)
teams = pd.read_csv("total2012.csv")
rpiRankW = []
rpiRankL = []
ptsW = []
ptsL = []
fgPcgW = []
fgPcgL = []
stlW = []
stlL = []
blkW = []
blkL = []

games.reset_index()

for i, row1 in games.iterrows():
    team = teams.loc[teams['team_id'] == row1.wteam]
    rpiRankW.append(team.iloc[0].rpiRank)
    ptsW.append(team.iloc[0].ptsTotal)
    fgPcgW.append(team.iloc[0].fgPcg)
    stlW.append(team.iloc[0].stlTotal)
    blkW.append(team.iloc[0].blkTotal)

    team = teams.loc[teams['team_id'] == row1.lteam]
    rpiRankL.append(team.iloc[0].rpiRank)
    ptsL.append(team.iloc[0].ptsTotal)
    fgPcgL.append(team.iloc[0].fgPcg)
    stlL.append(team.iloc[0].stlTotal)
    blkL.append(team.iloc[0].blkTotal)

games["rpiRankW"] =rpiRankW
games["rpiRankL"] =rpiRankL
games["ptsW"] =ptsW
games["ptsL"] =ptsL
games["fgPcgW"] =fgPcgW
games["fgPcgL"] =fgPcgL
games["stlW"] =stlW
games["stlL"] =stlL
games["blkW"] =blkW
games["blkL"] =blkL

games.to_csv("games2012.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\544967336.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = regular_results.append(tourney_results)

In [54]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2013)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2013)]
regular_results = regular_results[['wteam', 'lteam']]
tourney_results = tourney_results[['wteam', 'lteam']]
games = regular_results.append(tourney_results)
teams = pd.read_csv("total2013.csv")
rpiRankW = []
rpiRankL = []
ptsW = []
ptsL = []
fgPcgW = []
fgPcgL = []
stlW = []
stlL = []
blkW = []
blkL = []

games.reset_index()

for i, row1 in games.iterrows():
    team = teams.loc[teams['team_id'] == row1.wteam]
    rpiRankW.append(team.iloc[0].rpiRank)
    ptsW.append(team.iloc[0].ptsTotal)
    fgPcgW.append(team.iloc[0].fgPcg)
    stlW.append(team.iloc[0].stlTotal)
    blkW.append(team.iloc[0].blkTotal)

    team = teams.loc[teams['team_id'] == row1.lteam]
    rpiRankL.append(team.iloc[0].rpiRank)
    ptsL.append(team.iloc[0].ptsTotal)
    fgPcgL.append(team.iloc[0].fgPcg)
    stlL.append(team.iloc[0].stlTotal)
    blkL.append(team.iloc[0].blkTotal)

games["rpiRankW"] =rpiRankW
games["rpiRankL"] =rpiRankL
games["ptsW"] =ptsW
games["ptsL"] =ptsL
games["fgPcgW"] =fgPcgW
games["fgPcgL"] =fgPcgL
games["stlW"] =stlW
games["stlL"] =stlL
games["blkW"] =blkW
games["blkL"] =blkL

games.to_csv("games2013.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\356293699.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = regular_results.append(tourney_results)

In [55]:
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2014)]
regular_results = regular_results[['wteam', 'lteam']]
games = regular_results
teams = pd.read_csv("total2014.csv")
rpiRankW = []
rpiRankL = []
ptsW = []
ptsL = []
fgPcgW = []
fgPcgL = []
stlW = []
stlL = []
blkW = []
blkL = []

games.reset_index()

for i, row1 in games.iterrows():
    team = teams.loc[teams['team_id'] == row1.wteam]
    rpiRankW.append(team.iloc[0].rpiRank)
    ptsW.append(team.iloc[0].ptsTotal)
    fgPcgW.append(team.iloc[0].fgPcg)
    stlW.append(team.iloc[0].stlTotal)
    blkW.append(team.iloc[0].blkTotal)

    team = teams.loc[teams['team_id'] == row1.lteam]
    rpiRankL.append(team.iloc[0].rpiRank)
    ptsL.append(team.iloc[0].ptsTotal)
    fgPcgL.append(team.iloc[0].fgPcg)
    stlL.append(team.iloc[0].stlTotal)
    blkL.append(team.iloc[0].blkTotal)

games["rpiRankW"] =rpiRankW
games["rpiRankL"] =rpiRankL
games["ptsW"] =ptsW
games["ptsL"] =ptsL
games["fgPcgW"] =fgPcgW
games["fgPcgL"] =fgPcgL
games["stlW"] =stlW
games["stlL"] =stlL
games["blkW"] =blkW
games["blkL"] =blkL

games.to_csv("games2014.csv", index=False)

In [56]:
games1 = pd.read_csv("games2011.csv")
games2 = pd.read_csv("games2012.csv")
games3 = pd.read_csv("games2013.csv")
games4 = pd.read_csv("games2014.csv")

games = games1.append(games2)
games = games.append(games3)
games = games.append(games4)
games.to_csv("gamesTraining.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\1890919751.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = games1.append(games2)
C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\1890919751.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = games.append(games3)
C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\1890919751.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = games.append(games4)