In [78]:
import pandas as pd
from ast import literal_eval
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [79]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results.shape

(780, 34)

In [80]:
tourney_results = tourney_results[(tourney_results["season"] == 2011)]
tourney_results

,season,daynum,wteam,wscore,lteam,lscore,wloc,numot,wfgm,wfga,...,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
512,2011,134,1155,70,1412,52,N,0,26,50,...,24,4,7,7,22,10,19,4,3,10
513,2011,134,1421,81,1114,77,N,1,27,54,...,29,20,26,7,26,19,16,6,2,24
514,2011,135,1427,70,1106,61,N,0,23,54,...,26,10,12,11,28,13,12,6,3,22
515,2011,135,1433,59,1425,46,N,0,20,59,...,9,15,25,5,26,4,15,2,6,20
516,2011,136,1139,60,1330,58,N,0,22,54,...,15,21,27,13,16,8,15,9,2,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,2011,146,1246,76,1314,69,N,0,27,56,...,16,12,15,11,25,13,13,9,5,17
575,2011,146,1433,71,1242,61,N,0,21,53,...,21,15,28,19,26,10,14,8,6,20
576,2011,152,1139,70,1433,62,N,0,21,59,...,22,8,13,6,26,17,10,3,4,24
577,2011,152,1163,56,1246,55,N,0,23,49,...,27,4,12,15,22,12,10,11,3,12
578,2011,154,1163,53,1139,41,N,0,19,55,...,33,8,14,20,21,5,6,8,2,17

In [81]:
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results.shape

(60518, 34)

In [82]:
regular_results = regular_results[(regular_results["season"] == 2011)]
regular_results

,season,daynum,wteam,wscore,lteam,lscore,wloc,numot,wfgm,wfga,...,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
39337,2011,7,1228,79,1414,65,H,0,29,58,...,20,14,22,11,26,12,14,7,1,21
39338,2011,7,1268,105,1370,76,H,0,35,62,...,16,17,22,18,16,11,27,18,1,31
39339,2011,7,1338,83,1348,75,H,0,29,64,...,32,13,16,10,21,16,17,7,6,25
39340,2011,7,1400,83,1298,52,H,0,30,59,...,23,10,18,8,22,8,16,5,5,24
39341,2011,9,1228,84,1405,45,H,0,37,64,...,12,10,19,6,17,9,23,6,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44578,2011,131,1449,77,1112,75,N,1,30,66,...,21,20,30,11,21,12,8,4,2,15
44579,2011,132,1181,75,1314,58,N,0,29,58,...,8,14,21,19,25,8,16,4,5,16
44580,2011,132,1246,70,1196,54,N,0,20,48,...,20,3,8,15,22,11,14,1,5,22
44581,2011,132,1326,71,1336,60,N,0,26,51,...,18,9,9,10,22,8,10,3,2,17
44582,2011,132,1350,67,1173,54,N,0,19,45,...,14,9,12,11,22,11,11,5,5,19

In [83]:
training_set = regular_results.append(tourney_results)
training_set

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\3570724505.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training_set = regular_results.append(tourney_results)

,season,daynum,wteam,wscore,lteam,lscore,wloc,numot,wfgm,wfga,...,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
39337,2011,7,1228,79,1414,65,H,0,29,58,...,20,14,22,11,26,12,14,7,1,21
39338,2011,7,1268,105,1370,76,H,0,35,62,...,16,17,22,18,16,11,27,18,1,31
39339,2011,7,1338,83,1348,75,H,0,29,64,...,32,13,16,10,21,16,17,7,6,25
39340,2011,7,1400,83,1298,52,H,0,30,59,...,23,10,18,8,22,8,16,5,5,24
39341,2011,9,1228,84,1405,45,H,0,37,64,...,12,10,19,6,17,9,23,6,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,2011,146,1246,76,1314,69,N,0,27,56,...,16,12,15,11,25,13,13,9,5,17
575,2011,146,1433,71,1242,61,N,0,21,53,...,21,15,28,19,26,10,14,8,6,20
576,2011,152,1139,70,1433,62,N,0,21,59,...,22,8,13,6,26,17,10,3,4,24
577,2011,152,1163,56,1246,55,N,0,23,49,...,27,4,12,15,22,12,10,11,3,12
578,2011,154,1163,53,1139,41,N,0,19,55,...,33,8,14,20,21,5,6,8,2,17

In [84]:
training_set.isna().sum()

season    0
daynum    0
wteam     0
wscore    0
lteam     0
lscore    0
wloc      0
numot     0
wfgm      0
wfga      0
wfgm3     0
wfga3     0
wftm      0
wfta      0
wor       0
wdr       0
wast      0
wto       0
wstl      0
wblk      0
wpf       0
lfgm      0
lfga      0
lfgm3     0
lfga3     0
lftm      0
lfta      0
lor       0
ldr       0
last      0
lto       0
lstl      0
lblk      0
lpf       0
dtype: int64

In [85]:
statistics = pd.read_csv("teams.csv")
teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsW.shape

(345, 2)

In [86]:
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
teams

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\2097467678.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  teams = teamsW.append(teamsL)

     team_id      team_name
1       1102      Air Force
2       1103          Akron
3       1104        Alabama
4       1105    Alabama A&M
5       1106     Alabama St
..       ...            ...
359     1460      Wright St
360     1461        Wyoming
361     1462         Xavier
362     1463           Yale
363     1464  Youngstown St

[345 rows x 2 columns]

In [87]:
# Samo prvi put pokrenit
#training_set = training_set.reset_index()
fgm = []
fga = []
fgPcg = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm = sumFgm + row2['wfgm']
            sumFga = sumFga + row2['wfga']
        if row1['team_id'] == row2['lteam']:
            sumFgm = sumFgm + row2['lfgm']
            sumFga = sumFga + row2['lfga']
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg
teams.to_csv("fgPcg2011.csv", index=False)

KeyboardInterrupt:

In [ ]:
#training_set = training_set.reset_index()
ptsTotal = []
stlTotal = []
blkTotal = []
for i, row1 in teams.iterrows():
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    gamesPlayed = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumPts = sumPts + row2['wscore']
            sumStl = sumStl + row2['wstl']
            sumBlk = sumBlk + row2['wblk']
            gamesPlayed = gamesPlayed + 1
        if row1['team_id'] == row2['lteam']:
            sumPts = sumPts + row2['lscore']
            sumStl = sumStl + row2['lstl']
            sumBlk = sumBlk + row2['lblk']
            gamesPlayed = gamesPlayed + 1
    ptsTotal.append(sumPts)
    stlTotal.append(round(sumStl / gamesPlayed * 2) / 2)
    blkTotal.append(round(sumBlk / gamesPlayed * 2) / 2)
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams.to_csv("total2011.csv", index=False)
teams

In [ ]:
teams = pd.read_csv("total2011.csv")
teams = teams.reset_index()
won = []
played = []
wp = []
for i, row1 in teams.iterrows():
    wonCnt = 0
    playedCnt = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            wonCnt = wonCnt + 1
            playedCnt = playedCnt + 1
        if row1['team_id'] == row2['lteam']:
            playedCnt = playedCnt + 1
    won.append(wonCnt)
    played.append(playedCnt)
    wp.append(wonCnt / playedCnt)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total2011.csv", index=False)
teams

In [ ]:
teams = pd.read_csv("total2011.csv")
owp = []
for i, row1 in teams.iterrows():
    print("Prva: " + str(row1.team_id))
    wpSum = 0
    totalTeams = 0
    for j, row2 in teams.iterrows():
        wonCnt = 0
        playedCnt = 0
        didPlay = False
        for k, row3 in training_set.iterrows():
            if row2['team_id'] == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
                didPlay = True
            if row2['team_id'] == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
                didPlay = True
        if didPlay:
            totalTeams = totalTeams + 1
            wpSum = wpSum + (wonCnt / playedCnt)
    owp.append(wpSum / totalTeams)
teams["owp"] = owp
teams.to_csv("total2011.csv", index=False)
teams

In [ ]:
teams = pd.read_csv("total2011.csv")
teams

In [ ]:
#model = np.poly1d(np.polyfit(hours, happ, 2))
#print(model)

teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
played = []
playedAgainst = []
for i, row1 in teams.iterrows():
    wonCnt = 0
    playedCnt = 0
    timovi = []
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            timovi.append(row2.lteam)
        if row1['team_id'] == row2['lteam']:
            timovi.append(row2.wteam)
    playedAgainst.append(timovi)
teams["playedAgainst"] = playedAgainst
teams.to_csv("against2011.csv", index=False)
teams

In [ ]:
teams = pd.read_csv("against2011.csv")
oppWinPcg = []
training_set = training_set[['wteam', 'lteam']]
#teams = teams.reset_index()

for i, row1 in teams.iterrows():
    print(row1.team_id)
    wpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        wonCnt = 0
        playedCnt = 0
        for k, row3 in training_set.iterrows():
            if row2 == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
            if row2 == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
        if playedCnt > 0:
            wpSum = wpSum + (wonCnt / playedCnt)
    oppWinPcg.append(wpSum / len(lista))
teams["owp"] = oppWinPcg
teams

In [ ]:
teams.to_csv("against2011.csv", index=False)

In [ ]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2012)]
tourney_results = tourney_results[(tourney_results["season"] == 2012)]
training_set = regular_results.append(tourney_results)
statistics = pd.read_csv("teams.csv")
teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
teams.reset_index()
playedAgainst = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wonCnt = 0
    playedCnt = 0
    timovi = []
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            timovi.append(row2.lteam)
        if row1['team_id'] == row2['lteam']:
            timovi.append(row2.wteam)
    playedAgainst.append(timovi)
teams["playedAgainst"] = playedAgainst
teams.to_csv("against2012.csv", index=False)
oppWinPcg = []
training_set = training_set[['wteam', 'lteam']]
owp = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wpSum = 0
    lista = row1.playedAgainst
    for row2 in lista:
        wonCnt = 0
        playedCnt = 0
        for k, row3 in training_set.iterrows():
            if row2 == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
            if row2 == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
        if playedCnt > 0:
            wpSum = wpSum + (wonCnt / playedCnt)
    oppWinPcg.append(wpSum / len(lista))
teams["owp"] = oppWinPcg
teams
teams.to_csv("against2012.csv", index=False)

In [ ]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2013)]
tourney_results = tourney_results[(tourney_results["season"] == 2013)]
training_set = regular_results.append(tourney_results)
statistics = pd.read_csv("teams.csv")
teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
playedAgainst = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wonCnt = 0
    playedCnt = 0
    timovi = []
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            timovi.append(row2.lteam)
        if row1['team_id'] == row2['lteam']:
            timovi.append(row2.wteam)
    playedAgainst.append(timovi)
teams["playedAgainst"] = playedAgainst
teams.to_csv("against2013.csv", index=False)
oppWinPcg = []
training_set = training_set[['wteam', 'lteam']]
owp = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wpSum = 0
    lista = row1.playedAgainst
    for row2 in lista:
        wonCnt = 0
        playedCnt = 0
        for k, row3 in training_set.iterrows():
            if row2 == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
            if row2 == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
        if playedCnt > 0:
            wpSum = wpSum + (wonCnt / playedCnt)
    oppWinPcg.append(wpSum / len(lista))
teams["owp"] = oppWinPcg
teams
teams.to_csv("against2013.csv", index=False)

In [ ]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2014)]
training_set = regular_results
statistics = pd.read_csv("teams.csv")
teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
playedAgainst = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wonCnt = 0
    playedCnt = 0
    timovi = []
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            timovi.append(row2.lteam)
        if row1['team_id'] == row2['lteam']:
            timovi.append(row2.wteam)
    playedAgainst.append(timovi)
teams["playedAgainst"] = playedAgainst
teams.to_csv("against2014.csv", index=False)
oppWinPcg = []
training_set = training_set[['wteam', 'lteam']]
owp = []
for i, row1 in teams.iterrows():
    print(row1.team_id)
    wpSum = 0
    lista = row1.playedAgainst
    for row2 in lista:
        wonCnt = 0
        playedCnt = 0
        for k, row3 in training_set.iterrows():
            if row2 == row3['wteam'] and row1['team_id'] != row3['lteam']:
                wonCnt = wonCnt + 1
                playedCnt = playedCnt + 1
            if row2 == row3['lteam'] and row1['team_id'] != row3['wteam']:
                playedCnt = playedCnt + 1
        if playedCnt > 0:
            wpSum = wpSum + (wonCnt / playedCnt)
    oppWinPcg.append(wpSum / len(lista))
teams["owp"] = oppWinPcg
teams
teams.to_csv("against2014.csv", index=False)

In [107]:
teams = pd.read_csv("total2011.csv")
owps = pd.read_csv("against2011.csv")
oowp = []
for i, row1 in teams.iterrows():
    owpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        team = owps.loc[owps['team_id'] == row2]
        owpSum = owpSum + team.iloc[0].owp
    oowp.append(owpSum / len(lista))
teams["oowp"] = oowp
teams.to_csv("total2011.csv", index=False)
teams

,index,team_id,team_name,playedAgainst,owpSum,owp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal,won,played,wp,oowp,rpi,rpiRank
0,1,1102,Air Force,"[1398, 1459, 1169, 1191, 1460, 1300, 1115, 131...",0.562273,0.551782,628,1340,0.468657,1799,6.0,2.5,14,28,0.500000,0.526151,0.532429,105.0
1,2,1103,Akron,"[1173, 1464, 1156, 1178, 1227, 1396, 1278, 112...",0.503356,0.497198,859,2009,0.427576,2435,6.5,3.5,22,35,0.628571,0.492487,0.528864,113.0
2,3,1104,Alabama,"[1197, 1407, 1371, 1234, 1389, 1105, 1375, 134...",0.522822,0.512782,796,1789,0.444941,2133,9.0,5.0,21,32,0.656250,0.530720,0.553133,80.0
3,4,1105,Alabama A&M,"[1443, 1104, 1398, 1455, 1412, 1301, 1212, 123...",0.400556,0.393084,554,1395,0.397133,1570,8.5,5.5,10,25,0.400000,0.432363,0.404633,311.0
4,5,1106,Alabama St,"[1166, 1235, 1319, 1244, 1260, 1416, 1408, 111...",0.420996,0.413547,691,1744,0.396216,2031,7.5,4.5,15,33,0.454545,0.433400,0.428760,277.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,359,1460,Wright St,"[1231, 1380, 1324, 1350, 1356, 1153, 1178, 110...",0.524377,0.513710,668,1559,0.428480,1988,6.0,1.0,17,31,0.548387,0.516729,0.523134,122.0
341,360,1461,Wyoming,"[1294, 1316, 1442, 1281, 1344, 1377, 1232, 141...",0.521940,0.511216,654,1542,0.424125,1872,7.5,4.0,8,29,0.275862,0.529822,0.457029,236.0
342,361,1462,Xavier,"[1444, 1236, 1234, 1371, 1330, 1459, 1275, 113...",0.565697,0.556442,784,1700,0.461176,2306,5.5,3.0,24,32,0.750000,0.534757,0.599410,28.0
343,362,1463,Yale,"[1346, 1344, 1130, 1228, 1119, 1216, 1436, 110...",0.492021,0.488939,625,1425,0.438596,1823,4.5,4.5,14,27,0.518519,0.486854,0.495813,164.0
344,363,1464,Youngstown St,"[1359, 1138, 1103, 1405, 1384, 1454, 1453, 135...",0.507729,0.502103,692,1673,0.413628,1908,6.0,5.0,7,28,0.250000,0.509835,0.441010,255.0

In [108]:
teams = pd.read_csv("total2012.csv")
owps = pd.read_csv("against2012.csv")
oowp = []
for i, row1 in teams.iterrows():
    owpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        team = owps.loc[owps['team_id'] == row2]
        owpSum = owpSum + team.iloc[0].owp
    oowp.append(owpSum / len(lista))
teams["oowp"] = oowp
teams.to_csv("total2012.csv", index=False)
teams

,team_id,team_name,playedAgainst,owp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal,won,played,wp,oowp
0,1102,Air Force,"[1119, 1440, 1160, 1179, 1460, 1115, 1271, 121...",0.552012,564,1269,0.444444,1638,6.5,3.0,11,27,0.407407,0.513948
1,1103,Akron,"[1280, 1434, 1182, 1178, 1452, 1292, 1156, 111...",0.556858,803,1741,0.461229,2287,7.5,4.5,21,32,0.656250,0.495346
2,1104,Alabama,"[1316, 1324, 1268, 1455, 1345, 1105, 1433, 120...",0.581899,778,1722,0.451800,2135,7.0,4.0,21,33,0.636364,0.550995
3,1105,Alabama A&M,"[1408, 1104, 1375, 1276, 1210, 1398, 1412, 123...",0.385437,564,1401,0.402570,1589,6.0,4.0,5,26,0.192308,0.439301
4,1106,Alabama St,"[1267, 1153, 1322, 1240, 1191, 1198, 1372, 138...",0.396064,594,1593,0.372881,1674,7.5,3.0,10,29,0.344828,0.441045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,1460,Wright St,"[1326, 1238, 1196, 1316, 1150, 1156, 1464, 110...",0.493380,600,1512,0.396825,1777,6.5,1.5,12,31,0.387097,0.504844
341,1461,Wyoming,"[1294, 1453, 1377, 1340, 1271, 1256, 1430, 113...",0.529698,623,1397,0.445956,1809,6.5,3.5,18,29,0.620690,0.518022
342,1462,Xavier,"[1288, 1236, 1275, 1208, 1435, 1345, 1139, 115...",0.588522,899,1985,0.452897,2543,6.0,4.0,23,36,0.638889,0.535955
343,1463,Yale,"[1148, 1346, 1371, 1119, 1216, 1436, 1357, 113...",0.466069,582,1370,0.424818,1733,5.0,3.5,17,26,0.653846,0.493051
344,1464,Youngstown St,"[1359, 1415, 1336, 1384, 1178, 1460, 1138, 140...",0.483435,690,1604,0.430175,1946,6.5,5.5,14,29,0.482759,0.497120

In [109]:
teams = pd.read_csv("total2013.csv")
owps = pd.read_csv("against2013.csv")
oowp = []
for i, row1 in teams.iterrows():
    owpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        team = owps.loc[owps['team_id'] == row2]
        owpSum = owpSum + team.iloc[0].owp
    oowp.append(owpSum / len(lista))
teams["oowp"] = oowp
teams.to_csv("total2013.csv", index=False)
teams

,team_id,team_name,playedAgainst,owp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal,won,played,wp,oowp,rpi,rpiRank
0,1102,Air Force,"[1119, 1154, 1286, 1160, 1238, 1455, 1115, 141...",0.555456,683,1450,0.471034,1930,6.0,1.5,15,28,0.535714,0.535908,0.545634,91.0
1,1103,Akron,"[1157, 1329, 1421, 1336, 1292, 1166, 1178, 111...",0.528784,814,1808,0.450221,2272,7.0,5.5,25,32,0.781250,0.492753,0.582893,50.0
2,1104,Alabama,"[1355, 1333, 1437, 1149, 1249, 1153, 1173, 143...",0.548965,714,1666,0.428571,2003,8.0,4.5,20,32,0.625000,0.534171,0.564275,59.0
3,1105,Alabama A&M,"[1235, 1240, 1191, 1398, 1273, 1435, 1283, 111...",0.390389,636,1613,0.394296,1786,5.5,3.5,9,29,0.310345,0.443865,0.383747,329.0
4,1106,Alabama St,"[1292, 1196, 1416, 1366, 1407, 1152, 1178, 140...",0.408966,705,1744,0.404243,1906,6.0,3.0,9,31,0.290323,0.439865,0.387030,328.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,1461,Wyoming,"[1300, 1377, 1380, 1294, 1167, 1364, 1160, 122...",0.553638,611,1437,0.425191,1804,6.5,3.0,17,30,0.566667,0.539226,0.553292,74.0
343,1462,Xavier,"[1192, 1139, 1352, 1334, 1180, 1179, 1345, 143...",0.556061,722,1582,0.456384,2021,5.5,3.0,17,31,0.548387,0.540849,0.550339,80.0
344,1463,Yale,"[1357, 1386, 1191, 1138, 1442, 1436, 1119, 121...",0.490071,617,1500,0.411333,1863,6.0,3.0,12,29,0.413793,0.483429,0.469341,211.0
345,1464,Youngstown St,"[1203, 1208, 1384, 1295, 1241, 1182, 1245, 113...",0.480199,693,1634,0.424113,1988,6.5,5.5,14,29,0.482759,0.493816,0.484243,190.0
346,1212,Grambling,"[1156, 1123, 1275, 1222, 1403, 1333, 1120, 137...",0.384451,519,1436,0.361421,1391,4.5,2.5,0,28,0.000000,0.434780,0.300920,347.0

In [110]:
teams = pd.read_csv("total2014.csv")
owps = pd.read_csv("against2014.csv")
oowp = []
for i, row1 in teams.iterrows():
    owpSum = 0
    lista = literal_eval(row1.playedAgainst)
    for row2 in lista:
        team = owps.loc[owps['team_id'] == row2]
        owpSum = owpSum + team.iloc[0].owp
    oowp.append(owpSum / len(lista))
teams["oowp"] = oowp
teams.to_csv("total2014.csv", index=False)
teams

,team_id,team_name,playedAgainst,owp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal,won,played,wp,oowp,rpi,rpiRank
0,1101,Abilene Chr,"[1182, 1382, 1268, 1234, 1395, 1462, 1406, 130...",0.460338,427,1053,0.405508,1326,6.0,1.5,2,21,0.095238,0.474180,0.372523,339.0
1,1102,Air Force,"[1119, 1440, 1238, 1115, 1350, 1160, 1377, 141...",0.492970,618,1451,0.425913,1808,5.5,3.0,10,28,0.357143,0.515688,0.464693,231.0
2,1103,Akron,"[1157, 1388, 1292, 1156, 1126, 1331, 1178, 133...",0.507936,777,1799,0.431907,2241,6.5,4.0,21,33,0.636364,0.513193,0.541357,98.0
3,1104,Alabama,"[1328, 1403, 1209, 1181, 1180, 1316, 1378, 114...",0.612793,704,1606,0.438356,2068,6.5,4.0,12,31,0.387097,0.544920,0.539401,100.0
4,1105,Alabama A&M,"[1307, 1444, 1184, 1240, 1398, 1325, 1283, 141...",0.418626,603,1487,0.405514,1787,6.0,4.0,12,28,0.428571,0.446720,0.428136,289.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1460,Wright St,"[1207, 1177, 1223, 1375, 1108, 1441, 1287, 129...",0.448458,710,1580,0.449367,2127,6.5,3.0,18,32,0.562500,0.493479,0.488224,181.0
347,1461,Wyoming,"[1404, 1160, 1117, 1238, 1377, 1326, 1286, 137...",0.511376,654,1386,0.471861,1939,4.5,4.0,16,30,0.533333,0.517649,0.518434,128.0
348,1462,Xavier,"[1205, 1397, 1287, 1275, 1101, 1234, 1397, 142...",0.564464,846,1795,0.471309,2383,6.0,3.0,21,33,0.636364,0.555836,0.580282,51.0
349,1463,Yale,"[1148, 1163, 1353, 1357, 1273, 1248, 1216, 113...",0.500480,564,1372,0.411079,1777,6.0,4.5,14,27,0.518519,0.479360,0.499710,164.0
350,1464,Youngstown St,"[1244, 1198, 1184, 1269, 1245, 1122, 1352, 128...",0.471631,736,1621,0.454041,2167,6.5,2.5,12,29,0.413793,0.496066,0.463280,237.0

In [ ]:
teams = pd.read_csv("against2011.csv")

tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2011)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2011)]
training_set = regular_results.append(tourney_results)
teams.reset_index()
training_set.reset_index()

fgm = []
fga = []
fgPcg = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm = sumFgm + row2['wfgm']
            sumFga = sumFga + row2['wfga']
        if row1['team_id'] == row2['lteam']:
            sumFgm = sumFgm + row2['lfgm']
            sumFga = sumFga + row2['lfga']
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg

print("Fgpcgdone")
teams.reset_index()
training_set.reset_index()
ptsTotal = []
stlTotal = []
blkTotal = []
for i, row1 in teams.iterrows():
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    gamesPlayed = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumPts = sumPts + row2['wscore']
            sumStl = sumStl + row2['wstl']
            sumBlk = sumBlk + row2['wblk']
            gamesPlayed = gamesPlayed + 1
        if row1['team_id'] == row2['lteam']:
            sumPts = sumPts + row2['lscore']
            sumStl = sumStl + row2['lstl']
            sumBlk = sumBlk + row2['lblk']
            gamesPlayed = gamesPlayed + 1
    ptsTotal.append(sumPts)
    stlTotal.append(round(sumStl / gamesPlayed * 2) / 2)
    blkTotal.append(round(sumBlk / gamesPlayed * 2) / 2)
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams.reset_index()
training_set.reset_index()
won = []
played = []
wp = []
print("ptsstlblk")
for i, row1 in teams.iterrows():
    wonCnt = 0
    playedCnt = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            wonCnt = wonCnt + 1
            playedCnt = playedCnt + 1
        if row1['team_id'] == row2['lteam']:
            playedCnt = playedCnt + 1
    won.append(wonCnt)
    played.append(playedCnt)
    wp.append(wonCnt / playedCnt)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total2011.csv", index=False)
teams

In [106]:
teams = pd.read_csv("against2012.csv")

tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2012)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2012)]
training_set = regular_results.append(tourney_results)
teams.reset_index()
training_set.reset_index()

fgm = []
fga = []
fgPcg = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm = sumFgm + row2['wfgm']
            sumFga = sumFga + row2['wfga']
        if row1['team_id'] == row2['lteam']:
            sumFgm = sumFgm + row2['lfgm']
            sumFga = sumFga + row2['lfga']
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg

print("Fgpcgdone")
teams.reset_index()
training_set.reset_index()
ptsTotal = []
stlTotal = []
blkTotal = []
for i, row1 in teams.iterrows():
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    gamesPlayed = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumPts = sumPts + row2['wscore']
            sumStl = sumStl + row2['wstl']
            sumBlk = sumBlk + row2['wblk']
            gamesPlayed = gamesPlayed + 1
        if row1['team_id'] == row2['lteam']:
            sumPts = sumPts + row2['lscore']
            sumStl = sumStl + row2['lstl']
            sumBlk = sumBlk + row2['lblk']
            gamesPlayed = gamesPlayed + 1
    ptsTotal.append(sumPts)
    stlTotal.append(round(sumStl / gamesPlayed * 2) / 2)
    blkTotal.append(round(sumBlk / gamesPlayed * 2) / 2)
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams.reset_index()
training_set.reset_index()
won = []
played = []
wp = []
print("ptsstlblk")
for i, row1 in teams.iterrows():
    wonCnt = 0
    playedCnt = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            wonCnt = wonCnt + 1
            playedCnt = playedCnt + 1
        if row1['team_id'] == row2['lteam']:
            playedCnt = playedCnt + 1
    won.append(wonCnt)
    played.append(playedCnt)
    wp.append(wonCnt / playedCnt)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total2012.csv", index=False)
teams

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\762452252.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training_set = regular_results.append(tourney_results)

Fgpcgdone
ptsstlblk

,team_id,team_name,playedAgainst,owp,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal,won,played,wp
0,1102,Air Force,"[1119, 1440, 1160, 1179, 1460, 1115, 1271, 121...",0.552012,564,1269,0.444444,1638,6.5,3.0,11,27,0.407407
1,1103,Akron,"[1280, 1434, 1182, 1178, 1452, 1292, 1156, 111...",0.556858,803,1741,0.461229,2287,7.5,4.5,21,32,0.656250
2,1104,Alabama,"[1316, 1324, 1268, 1455, 1345, 1105, 1433, 120...",0.581899,778,1722,0.451800,2135,7.0,4.0,21,33,0.636364
3,1105,Alabama A&M,"[1408, 1104, 1375, 1276, 1210, 1398, 1412, 123...",0.385437,564,1401,0.402570,1589,6.0,4.0,5,26,0.192308
4,1106,Alabama St,"[1267, 1153, 1322, 1240, 1191, 1198, 1372, 138...",0.396064,594,1593,0.372881,1674,7.5,3.0,10,29,0.344828
...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,1460,Wright St,"[1326, 1238, 1196, 1316, 1150, 1156, 1464, 110...",0.493380,600,1512,0.396825,1777,6.5,1.5,12,31,0.387097
341,1461,Wyoming,"[1294, 1453, 1377, 1340, 1271, 1256, 1430, 113...",0.529698,623,1397,0.445956,1809,6.5,3.5,18,29,0.620690
342,1462,Xavier,"[1288, 1236, 1275, 1208, 1435, 1345, 1139, 115...",0.588522,899,1985,0.452897,2543,6.0,4.0,23,36,0.638889
343,1463,Yale,"[1148, 1346, 1371, 1119, 1216, 1436, 1357, 113...",0.466069,582,1370,0.424818,1733,5.0,3.5,17,26,0.653846
344,1464,Youngstown St,"[1359, 1415, 1336, 1384, 1178, 1460, 1138, 140...",0.483435,690,1604,0.430175,1946,6.5,5.5,14,29,0.482759

In [ ]:
teams = pd.read_csv("against2013.csv")

tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2013)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2013)]
training_set = regular_results.append(tourney_results)
teams.reset_index()
training_set.reset_index()

fgm = []
fga = []
fgPcg = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm = sumFgm + row2['wfgm']
            sumFga = sumFga + row2['wfga']
        if row1['team_id'] == row2['lteam']:
            sumFgm = sumFgm + row2['lfgm']
            sumFga = sumFga + row2['lfga']
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg

print("Fgpcgdone")
teams.reset_index()
training_set.reset_index()
ptsTotal = []
stlTotal = []
blkTotal = []
for i, row1 in teams.iterrows():
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    gamesPlayed = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumPts = sumPts + row2['wscore']
            sumStl = sumStl + row2['wstl']
            sumBlk = sumBlk + row2['wblk']
            gamesPlayed = gamesPlayed + 1
        if row1['team_id'] == row2['lteam']:
            sumPts = sumPts + row2['lscore']
            sumStl = sumStl + row2['lstl']
            sumBlk = sumBlk + row2['lblk']
            gamesPlayed = gamesPlayed + 1
    ptsTotal.append(sumPts)
    stlTotal.append(round(sumStl / gamesPlayed * 2) / 2)
    blkTotal.append(round(sumBlk / gamesPlayed * 2) / 2)
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams.reset_index()
training_set.reset_index()
won = []
played = []
wp = []
print("ptsstlblk")
for i, row1 in teams.iterrows():
    wonCnt = 0
    playedCnt = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            wonCnt = wonCnt + 1
            playedCnt = playedCnt + 1
        if row1['team_id'] == row2['lteam']:
            playedCnt = playedCnt + 1
    won.append(wonCnt)
    played.append(playedCnt)
    wp.append(wonCnt / playedCnt)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total2013.csv", index=False)
teams

In [ ]:
teams = pd.read_csv("against2014.csv")

regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2014)]
training_set = regular_results
teams.reset_index()
training_set.reset_index()

fgm = []
fga = []
fgPcg = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm = sumFgm + row2['wfgm']
            sumFga = sumFga + row2['wfga']
        if row1['team_id'] == row2['lteam']:
            sumFgm = sumFgm + row2['lfgm']
            sumFga = sumFga + row2['lfga']
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg

print("Fgpcgdone")
teams.reset_index()
training_set.reset_index()
ptsTotal = []
stlTotal = []
blkTotal = []
for i, row1 in teams.iterrows():
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    gamesPlayed = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumPts = sumPts + row2['wscore']
            sumStl = sumStl + row2['wstl']
            sumBlk = sumBlk + row2['wblk']
            gamesPlayed = gamesPlayed + 1
        if row1['team_id'] == row2['lteam']:
            sumPts = sumPts + row2['lscore']
            sumStl = sumStl + row2['lstl']
            sumBlk = sumBlk + row2['lblk']
            gamesPlayed = gamesPlayed + 1
    ptsTotal.append(sumPts)
    stlTotal.append(round(sumStl / gamesPlayed * 2) / 2)
    blkTotal.append(round(sumBlk / gamesPlayed * 2) / 2)
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams.reset_index()
training_set.reset_index()
won = []
played = []
wp = []
print("ptsstlblk")
for i, row1 in teams.iterrows():
    wonCnt = 0
    playedCnt = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            wonCnt = wonCnt + 1
            playedCnt = playedCnt + 1
        if row1['team_id'] == row2['lteam']:
            playedCnt = playedCnt + 1
    won.append(wonCnt)
    played.append(playedCnt)
    wp.append(wonCnt / playedCnt)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total2014.csv", index=False)
teams

teams = pd.read_csv("oowp2011.csv")
teams2 = pd.read_csv("total2011.csv")
teams2["oowp"] = teams["oowp"]
teams2.to_csv("total2011.csv", index=False)

In [111]:
teams = pd.read_csv("total2011.csv")
rpi = []
for i, row1 in teams.iterrows():
    rpi.append(row1["wp"] * 0.25 + row1["owp"] * 0.5 + row1["oowp"] * 0.25)
teams["rpi"] = rpi
teams['rpiRank'] = teams['rpi'].rank(ascending=0)
teams.to_csv("total2011.csv", index=False)

In [112]:
teams = pd.read_csv("total2012.csv")
rpi = []
for i, row1 in teams.iterrows():
    rpi.append(row1["wp"] * 0.25 + row1["owp"] * 0.5 + row1["oowp"] * 0.25)
teams["rpi"] = rpi
teams['rpiRank'] = teams['rpi'].rank(ascending=0)
teams.to_csv("total2012.csv", index=False)

In [113]:
teams = pd.read_csv("total2013.csv")
rpi = []
for i, row1 in teams.iterrows():
    rpi.append(row1["wp"] * 0.25 + row1["owp"] * 0.5 + row1["oowp"] * 0.25)
teams["rpi"] = rpi
teams['rpiRank'] = teams['rpi'].rank(ascending=0)
teams.to_csv("total2013.csv", index=False)

In [114]:
teams = pd.read_csv("total2014.csv")
rpi = []
for i, row1 in teams.iterrows():
    rpi.append(row1["wp"] * 0.25 + row1["owp"] * 0.5 + row1["oowp"] * 0.25)
teams["rpi"] = rpi
teams['rpiRank'] = teams['rpi'].rank(ascending=0)
teams.to_csv("total2014.csv", index=False)

In [120]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2011)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2011)]
regular_results = regular_results[['wteam', 'lteam']]
tourney_results = tourney_results[['wteam', 'lteam']]
games = regular_results.append(tourney_results)
teams = pd.read_csv("total2011.csv")
rpiRankW = []
ptsW = []
fgPcgW = []
stlW = []
blkW = []

games.reset_index()

for i, row1 in games.iterrows():
    teamW = teams.loc[teams['team_id'] == row1.wteam]
    teamL = teams.loc[teams['team_id'] == row1.lteam]
    rpiRankW.append(teamW.iloc[0].rpiRank - teamL.iloc[0].rpiRank)
    ptsW.append(teamW.iloc[0].ptsTotal - teamL.iloc[0].ptsTotal)
    fgPcgW.append((teamW.iloc[0].fgPcg - teamL.iloc[0].fgPcg) * 1000)
    stlW.append(teamW.iloc[0].stlTotal - teamL.iloc[0].stlTotal)
    blkW.append(teamW.iloc[0].blkTotal - teamL.iloc[0].blkTotal)

games["rpiRank"] = rpiRankW
games["pts"] = ptsW
games["fgPcg"] = fgPcgW
games["stl"] = stlW
games["blk"] = blkW

games.to_csv("games2011.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\1809289923.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = regular_results.append(tourney_results)

In [121]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2012)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2012)]
regular_results = regular_results[['wteam', 'lteam']]
tourney_results = tourney_results[['wteam', 'lteam']]
games = regular_results.append(tourney_results)
teams = pd.read_csv("total2012.csv")
rpiRankW = []
ptsW = []
fgPcgW = []
stlW = []
blkW = []

games.reset_index()

for i, row1 in games.iterrows():
    teamW = teams.loc[teams['team_id'] == row1.wteam]
    teamL = teams.loc[teams['team_id'] == row1.lteam]
    rpiRankW.append(teamW.iloc[0].rpiRank - teamL.iloc[0].rpiRank)
    ptsW.append(teamW.iloc[0].ptsTotal - teamL.iloc[0].ptsTotal)
    fgPcgW.append((teamW.iloc[0].fgPcg - teamL.iloc[0].fgPcg) * 1000)
    stlW.append(teamW.iloc[0].stlTotal - teamL.iloc[0].stlTotal)
    blkW.append(teamW.iloc[0].blkTotal - teamL.iloc[0].blkTotal)

games["rpiRank"] = rpiRankW
games["pts"] = ptsW
games["fgPcg"] = fgPcgW
games["stl"] = stlW
games["blk"] = blkW

games.to_csv("games2012.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\4193770048.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = regular_results.append(tourney_results)

In [122]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results = tourney_results[(tourney_results["season"] == 2013)]
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2013)]
regular_results = regular_results[['wteam', 'lteam']]
tourney_results = tourney_results[['wteam', 'lteam']]
games = regular_results.append(tourney_results)
teams = pd.read_csv("total2013.csv")
rpiRankW = []
ptsW = []
fgPcgW = []
stlW = []
blkW = []

games.reset_index()

for i, row1 in games.iterrows():
    teamW = teams.loc[teams['team_id'] == row1.wteam]
    teamL = teams.loc[teams['team_id'] == row1.lteam]
    rpiRankW.append(teamW.iloc[0].rpiRank - teamL.iloc[0].rpiRank)
    ptsW.append(teamW.iloc[0].ptsTotal - teamL.iloc[0].ptsTotal)
    fgPcgW.append((teamW.iloc[0].fgPcg - teamL.iloc[0].fgPcg) * 1000)
    stlW.append(teamW.iloc[0].stlTotal - teamL.iloc[0].stlTotal)
    blkW.append(teamW.iloc[0].blkTotal - teamL.iloc[0].blkTotal)

games["rpiRank"] = rpiRankW
games["pts"] = ptsW
games["fgPcg"] = fgPcgW
games["stl"] = stlW
games["blk"] = blkW

games.to_csv("games2013.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\3525904548.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = regular_results.append(tourney_results)

In [123]:
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results = regular_results[(regular_results["season"] == 2014)]
regular_results = regular_results[['wteam', 'lteam']]
games = regular_results
teams = pd.read_csv("total2014.csv")
rpiRankW = []
ptsW = []
fgPcgW = []
stlW = []
blkW = []

games.reset_index()

for i, row1 in games.iterrows():
    teamW = teams.loc[teams['team_id'] == row1.wteam]
    teamL = teams.loc[teams['team_id'] == row1.lteam]
    rpiRankW.append(teamW.iloc[0].rpiRank - teamL.iloc[0].rpiRank)
    ptsW.append(teamW.iloc[0].ptsTotal - teamL.iloc[0].ptsTotal)
    fgPcgW.append((teamW.iloc[0].fgPcg - teamL.iloc[0].fgPcg) * 1000)
    stlW.append(teamW.iloc[0].stlTotal - teamL.iloc[0].stlTotal)
    blkW.append(teamW.iloc[0].blkTotal - teamL.iloc[0].blkTotal)

games["rpiRank"] = rpiRankW
games["pts"] = ptsW
games["fgPcg"] = fgPcgW
games["stl"] = stlW
games["blk"] = blkW

games.to_csv("games2014.csv", index=False)

In [124]:
games1 = pd.read_csv("games2011.csv")
games2 = pd.read_csv("games2012.csv")
games3 = pd.read_csv("games2013.csv")
games4 = pd.read_csv("games2014.csv")

games = games1.append(games2)
games = games.append(games3)
games = games.append(games4)
games.fgPcg = games.fgPcg.astype(int)
games.rpiRank = games.rpiRank.astype(int)
games.to_csv("gamesTraining.csv", index=False)

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\408684949.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = games1.append(games2)
C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\408684949.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = games.append(games3)
C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_12476\408684949.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  games = games.append(games4)