In [252]:
import pandas as pd
import numpy as np

In [253]:
tourney_results = pd.read_csv("tourney_detailed_results.csv")
tourney_results.shape

(780, 34)

In [254]:
tourney_results = tourney_results[(tourney_results["season"] >= 2011) & (tourney_results["season"] <= 2013)]
tourney_results

,season,daynum,wteam,wscore,lteam,lscore,wloc,numot,wfgm,wfga,...,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
512,2011,134,1155,70,1412,52,N,0,26,50,...,24,4,7,7,22,10,19,4,3,10
513,2011,134,1421,81,1114,77,N,1,27,54,...,29,20,26,7,26,19,16,6,2,24
514,2011,135,1427,70,1106,61,N,0,23,54,...,26,10,12,11,28,13,12,6,3,22
515,2011,135,1433,59,1425,46,N,0,20,59,...,9,15,25,5,26,4,15,2,6,20
516,2011,136,1139,60,1330,58,N,0,22,54,...,15,21,27,13,16,8,15,9,2,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,2013,146,1257,85,1181,63,N,0,29,55,...,16,21,28,11,20,11,12,4,2,23
709,2013,146,1276,79,1196,59,N,0,30,65,...,10,11,17,9,27,13,15,7,3,11
710,2013,152,1257,72,1455,68,N,0,22,49,...,20,18,24,14,22,13,11,5,1,20
711,2013,152,1276,61,1393,56,N,0,21,53,...,14,7,11,10,23,13,10,7,4,19
712,2013,154,1257,82,1276,76,N,0,28,61,...,18,18,25,8,19,12,12,3,2,15

In [255]:
regular_results = pd.read_csv("regular_season_detailed_results.csv")
regular_results.shape

(60518, 34)

In [256]:
regular_results = regular_results[(regular_results["season"] >= 2011) & (regular_results["season"] <= 2014)]
regular_results

,season,daynum,wteam,wscore,lteam,lscore,wloc,numot,wfgm,wfga,...,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
39337,2011,7,1228,79,1414,65,H,0,29,58,...,20,14,22,11,26,12,14,7,1,21
39338,2011,7,1268,105,1370,76,H,0,35,62,...,16,17,22,18,16,11,27,18,1,31
39339,2011,7,1338,83,1348,75,H,0,29,64,...,32,13,16,10,21,16,17,7,6,25
39340,2011,7,1400,83,1298,52,H,0,30,59,...,23,10,18,8,22,8,16,5,5,24
39341,2011,9,1228,84,1405,45,H,0,37,64,...,12,10,19,6,17,9,23,6,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60513,2014,132,1196,61,1246,60,N,0,23,53,...,11,21,26,12,24,9,12,4,8,19
60514,2014,132,1277,69,1276,55,N,0,27,54,...,23,15,16,13,15,7,9,3,3,15
60515,2014,132,1386,65,1433,61,N,0,24,50,...,19,8,15,13,25,9,5,6,6,18
60516,2014,132,1418,82,1209,81,N,1,32,75,...,19,20,21,4,26,8,7,5,7,15
60517,2014,132,1438,72,1181,63,N,0,21,47,...,14,7,11,14,20,13,6,7,3,29

In [257]:
training_set = regular_results.append(tourney_results)
training_set

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_17792\3570724505.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training_set = regular_results.append(tourney_results)

,season,daynum,wteam,wscore,lteam,lscore,wloc,numot,wfgm,wfga,...,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
39337,2011,7,1228,79,1414,65,H,0,29,58,...,20,14,22,11,26,12,14,7,1,21
39338,2011,7,1268,105,1370,76,H,0,35,62,...,16,17,22,18,16,11,27,18,1,31
39339,2011,7,1338,83,1348,75,H,0,29,64,...,32,13,16,10,21,16,17,7,6,25
39340,2011,7,1400,83,1298,52,H,0,30,59,...,23,10,18,8,22,8,16,5,5,24
39341,2011,9,1228,84,1405,45,H,0,37,64,...,12,10,19,6,17,9,23,6,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,2013,146,1257,85,1181,63,N,0,29,55,...,16,21,28,11,20,11,12,4,2,23
709,2013,146,1276,79,1196,59,N,0,30,65,...,10,11,17,9,27,13,15,7,3,11
710,2013,152,1257,72,1455,68,N,0,22,49,...,20,18,24,14,22,13,11,5,1,20
711,2013,152,1276,61,1393,56,N,0,21,53,...,14,7,11,10,23,13,10,7,4,19
712,2013,154,1257,82,1276,76,N,0,28,61,...,18,18,25,8,19,12,12,3,2,15

In [258]:
training_set.isna().sum()

season    0
daynum    0
wteam     0
wscore    0
lteam     0
lscore    0
wloc      0
numot     0
wfgm      0
wfga      0
wfgm3     0
wfga3     0
wftm      0
wfta      0
wor       0
wdr       0
wast      0
wto       0
wstl      0
wblk      0
wpf       0
lfgm      0
lfga      0
lfgm3     0
lfga3     0
lftm      0
lfta      0
lor       0
ldr       0
last      0
lto       0
lstl      0
lblk      0
lpf       0
dtype: int64

In [259]:
statistics = pd.read_csv("teams.csv")
teamsW = statistics.loc[statistics['team_id'].isin((training_set['wteam'].tolist()))]
teamsW.shape

(352, 2)

In [260]:
teamsL = statistics.loc[statistics['team_id'].isin(training_set['lteam'].tolist())]
teams = teamsW.append(teamsL)
teams = teams.drop_duplicates()
teams

C:\Users\Zvonimir Ravlic\AppData\Local\Temp\ipykernel_17792\2097467678.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  teams = teamsW.append(teamsL)

     team_id      team_name
0       1101    Abilene Chr
1       1102      Air Force
2       1103          Akron
3       1104        Alabama
4       1105    Alabama A&M
..       ...            ...
359     1460      Wright St
360     1461        Wyoming
361     1462         Xavier
362     1463           Yale
363     1464  Youngstown St

[352 rows x 2 columns]

# Samo prvi put pokrenit
training_set = training_set.reset_index()
fgm = []
fga = []
fgPcg = []
for i, row1 in teams.iterrows():
    sumFgm = 0
    sumFga = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumFgm= sumFgm + row2['wfgm']
            sumFga = sumFga+ row2['wfga']
        if row1['team_id'] == row2['lteam']:
            sumFgm= sumFgm + row2['lfgm']
            sumFga = sumFga+ row2['lfga']
    fgm.append(sumFgm)
    fga.append(sumFga)
    fgPcg.append(sumFgm / sumFga)
teams["fgm"] = fgm
teams["fga"] = fga
teams["fgPcg"] = fgPcg
teams.to_csv("fgPcg.csv", index=False)

training_set = training_set.reset_index()
ptsTotal = []
stlTotal = []
blkTotal = []
for i, row1 in teams.iterrows():
    sumPts = 0
    sumStl = 0
    sumBlk = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            sumPts= sumPts + row2['wscore']
            sumStl = sumStl+ row2['wstl']
            sumBlk = sumBlk+ row2['wblk']
        if row1['team_id'] == row2['lteam']:
            sumPts= sumPts + row2['lscore']
            sumStl = sumStl+ row2['lstl']
            sumBlk = sumBlk+ row2['lblk']
    ptsTotal.append(sumPts)
    stlTotal.append(sumStl)
    blkTotal.append(sumBlk)
teams["ptsTotal"] = ptsTotal
teams["stlTotal"] = stlTotal
teams["blkTotal"] = blkTotal
teams.to_csv("total.csv", index=False)
teams

teams = pd.read_csv("total.csv")
teams = teams.reset_index()
won = []
played = []
wp = []
for i, row1 in teams.iterrows():
    wonCnt = 0
    playedCnt = 0
    for j, row2 in training_set.iterrows():
        if row1['team_id'] == row2['wteam']:
            wonCnt = wonCnt + 1
            playedCnt = playedCnt + 1
        if row1['team_id'] == row2['lteam']:
            playedCnt = playedCnt + 1
    won.append(wonCnt)
    played.append(playedCnt)
    wp.append(wonCnt / playedCnt)
teams["won"] = won
teams["played"] = played
teams["wp"] = wp
teams.to_csv("total.csv", index=False)
teams

In [264]:
teams = pd.read_csv("total.csv")
teams

,index,Unnamed: 0,team_id,team_name,fgm,fga,fgPcg,ptsTotal,stlTotal,blkTotal,won,played,wp
0,0,0,1101,Abilene Chr,427,1053,0.405508,1326,121,31,2,21,0.095238
1,1,1,1102,Air Force,2493,5510,0.452450,7175,665,282,50,111,0.450450
2,2,2,1103,Akron,3253,7357,0.442164,9235,900,576,89,132,0.674242
3,3,3,1104,Alabama,2992,6783,0.441103,8339,1007,578,74,128,0.578125
4,4,4,1105,Alabama A&M,2357,5896,0.399763,6732,702,447,36,108,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,347,347,1460,Wright St,2683,6278,0.427365,7869,849,240,67,126,0.531746
348,348,348,1461,Wyoming,2542,5762,0.441166,7424,728,415,59,118,0.500000
349,349,349,1462,Xavier,3251,7062,0.460351,9253,747,416,85,132,0.643939
350,350,350,1463,Yale,2388,5667,0.421387,7196,602,416,57,109,0.522936
351,351,351,1464,Youngstown St,2811,6532,0.430343,8009,725,515,47,115,0.408696